// Variable definitions

:root {
  // Selection colours
  --green-selection:       rgba(180, 240, 170, 0.8);
  --green-selection-dark:  rgba( 90, 170,  80, 0.8);

  --blue-selection:        rgba(200, 220, 240, 0.8);
  --blue-selection-dark:   rgba( 29,  55, 134, 0.8);

  --purple-selection:      rgba(216, 171, 241, 1);

  --gold-selection:        rgba(247, 235, 159, 1);
  --gold-selection-dark:   rgba(167, 145,   2, 1);

  --fg-error:              rgba(148,  16,  16, 1);
  --bg-error:              rgba(255, 176, 176, 1);

  /*
   * COLOUR PALETTES
   */

  --blue-0:                rgba( 29, 117, 179, 1);
  --blue-1:                rgba( 37,  53, 146, 1);
  --blue-3:                rgba( 50,  70,  90, 1);

  --orange-0:              rgba(255, 180, 108, 1);
  --orange-1:              rgba(255, 124,  69, 1);
  --orange-2:              rgba(240,  87,  52, 1);

  --beige-0:               rgba(243, 243, 232, 1);
  --beige-2:               rgba(205, 205, 170, 1);

  --red-0:                 rgba(240,  50,  50, 1);
  --red-1:                 rgba(220,  45,  45, 1);
  --red-2:                 rgba(200,  40,  40, 1);
  --red-7:                 rgba( 80,  15,  15, 1);

  --green-0:               rgba( 28, 178, 126, 1);
  --green-1:               rgba(  4, 125, 101, 1);

  /*
   * NAMED COLOURS
   */

  --apricot:               rgba(251, 206, 177, 1);
}

//Vars used in LESS functions
@grey-1:  rgba(220, 220, 220, 1);
@grey-3:  rgba(120, 120, 130, 1);
@grey-6:  rgba( 70,  70,  80, 1);

@green-0: rgba( 28, 178, 126, 1);
@green-1: rgba(  4, 125, 101, 1);

@blue-0:  rgba( 29, 117, 179, 1);

@red-0:   rgba(240,  50,  50, 1);
@red-1:   rgba(220,  45,  45, 1);
@red-3:   rgba(180,  35,  35, 1);

@orange-0: rgba(255, 180, 108, 1);
@orange-1: rgba(255, 124,  69, 1);
