<div id="icon-selector-popup">
  <div class="row">
    <div class="icon-block" title="Reset icon" data-shape="__reset"></div>
    <div class="icon-block" title="Cog" data-shape="cog"><clr-icon shape="cog"></clr-icon></div>
    <div class="icon-block" title="Check" data-shape="check"><clr-icon shape="check"></clr-icon></div>
    <div class="icon-block" title="Times" data-shape="times"><clr-icon shape="times"></clr-icon></div>
  </div>
  <div class="row">
    <div class="icon-block" title="Exclamation (Triangle)" data-shape="exclamation-triangle"><clr-icon shape="exclamation-triangle"></clr-icon></div>
    <div class="icon-block" title="Exclamation (Circle)" data-shape="exclamation-circle"><clr-icon shape="exclamation-circle"></clr-icon></div>
    <div class="icon-block" title="Info (Circle)" data-shape="info-circle"><clr-icon shape="info-circle"></clr-icon></div>
    <div class="icon-block" title="Info" data-shape="info-standard"><clr-icon shape="info-standard"></clr-icon></div>
  </div>
  <div class="row">
    <div class="icon-block" title="Success" data-shape="success-standard"><clr-icon shape="success-standard"></clr-icon></div>
    <div class="icon-block" title="Error" data-shape="error-standard"><clr-icon shape="error-standard"></clr-icon></div>
    <div class="icon-block" title="Warning" data-shape="warning-standard"><clr-icon shape="warning-standard"></clr-icon></div>
    <div class="icon-block" title="Help" data-shape="help-info"><clr-icon shape="help-info"></clr-icon></div>
  </div>
  <div class="row">
    <div class="icon-block" title="Bars" data-shape="bars"><clr-icon shape="bars"></clr-icon></div>
    <div class="icon-block" title="Person" data-shape="user"><clr-icon shape="user"></clr-icon></div>
    <div class="icon-block" title="Folder" data-shape="folder"><clr-icon shape="folder"></clr-icon></div>
    <div class="icon-block" title="Folder (open)" data-shape="folder-open"><clr-icon shape="folder-open"></clr-icon></div>
  </div>
  <div class="row">
    <div class="icon-block" title="Bell" data-shape="bell"><clr-icon shape="bell"></clr-icon></div>
    <div class="icon-block" title="Image" data-shape="image"><clr-icon shape="image"></clr-icon></div>
    <div class="icon-block" title="Cloud" data-shape="cloud"><clr-icon shape="cloud"></clr-icon></div>
    <div class="icon-block" title="Eye" data-shape="eye"><clr-icon shape="eye"></clr-icon></div>
  </div>
  <div class="row">
    <div class="icon-block" title="Calendar" data-shape="calendar"><clr-icon shape="calendar"></clr-icon></div>
    <div class="icon-block" title="Event" data-shape="event"><clr-icon shape="event"></clr-icon></div>
    <div class="icon-block" title="Calculator" data-shape="calculator"><clr-icon shape="calculator"></clr-icon></div>
    <div class="icon-block" title="Store" data-shape="store"><clr-icon shape="store"></clr-icon></div>
  </div>
  <div class="row">
    <div class="icon-block" title="Heart" data-shape="heart"><clr-icon shape="heart"></clr-icon></div>
    <div class="icon-block" title="Heart (broken)" data-shape="heart-broken"><clr-icon shape="heart-broken"></clr-icon></div>
    <div class="icon-block" title="Bubbles" data-shape="talk-bubbles"><clr-icon shape="talk-bubbles"></clr-icon></div>
    <div class="icon-block" title="Bubble" data-shape="chat-bubble"><clr-icon shape="chat-bubble"></clr-icon></div>
  </div>
  <div class="row">
    <div class="icon-block" title="Happy emoji" data-shape="happy-face"><clr-icon shape="happy-face"></clr-icon></div>
    <div class="icon-block" title="Neutral emoji" data-shape="neutral-face"><clr-icon shape="neutral-face"></clr-icon></div>
    <div class="icon-block" title="Sad emoji" data-shape="sad-face"><clr-icon shape="sad-face"></clr-icon></div>
    <div class="icon-block" title="Thumbs up" data-shape="thumbs-up"><clr-icon shape="thumbs-up"></clr-icon></div>
  </div>
</div>
