<div class="table-generator">
  <div class="row">
    <div class="cell" data-rows="1" data-cols="1"></div>
    <div class="cell" data-rows="1" data-cols="2"></div>
    <div class="cell" data-rows="1" data-cols="3"></div>
    <div class="cell" data-rows="1" data-cols="4"></div>
    <div class="cell" data-rows="1" data-cols="5"></div>
    <div class="cell" data-rows="1" data-cols="6"></div>
    <div class="cell" data-rows="1" data-cols="7"></div>
    <div class="cell" data-rows="1" data-cols="8"></div>
    <div class="cell" data-rows="1" data-cols="9"></div>
    <div class="cell" data-rows="1" data-cols="10"></div>
    <div class="cell" data-rows="1" data-cols="11"></div>
    <div class="cell" data-rows="1" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="2" data-cols="1"></div>
    <div class="cell" data-rows="2" data-cols="2"></div>
    <div class="cell" data-rows="2" data-cols="3"></div>
    <div class="cell" data-rows="2" data-cols="4"></div>
    <div class="cell" data-rows="2" data-cols="5"></div>
    <div class="cell" data-rows="2" data-cols="6"></div>
    <div class="cell" data-rows="2" data-cols="7"></div>
    <div class="cell" data-rows="2" data-cols="8"></div>
    <div class="cell" data-rows="2" data-cols="9"></div>
    <div class="cell" data-rows="2" data-cols="10"></div>
    <div class="cell" data-rows="2" data-cols="11"></div>
    <div class="cell" data-rows="2" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="3" data-cols="1"></div>
    <div class="cell" data-rows="3" data-cols="2"></div>
    <div class="cell" data-rows="3" data-cols="3"></div>
    <div class="cell" data-rows="3" data-cols="4"></div>
    <div class="cell" data-rows="3" data-cols="5"></div>
    <div class="cell" data-rows="3" data-cols="6"></div>
    <div class="cell" data-rows="3" data-cols="7"></div>
    <div class="cell" data-rows="3" data-cols="8"></div>
    <div class="cell" data-rows="3" data-cols="9"></div>
    <div class="cell" data-rows="3" data-cols="10"></div>
    <div class="cell" data-rows="3" data-cols="11"></div>
    <div class="cell" data-rows="3" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="4" data-cols="1"></div>
    <div class="cell" data-rows="4" data-cols="2"></div>
    <div class="cell" data-rows="4" data-cols="3"></div>
    <div class="cell" data-rows="4" data-cols="4"></div>
    <div class="cell" data-rows="4" data-cols="5"></div>
    <div class="cell" data-rows="4" data-cols="6"></div>
    <div class="cell" data-rows="4" data-cols="7"></div>
    <div class="cell" data-rows="4" data-cols="8"></div>
    <div class="cell" data-rows="4" data-cols="9"></div>
    <div class="cell" data-rows="4" data-cols="10"></div>
    <div class="cell" data-rows="4" data-cols="11"></div>
    <div class="cell" data-rows="4" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="5" data-cols="1"></div>
    <div class="cell" data-rows="5" data-cols="2"></div>
    <div class="cell" data-rows="5" data-cols="3"></div>
    <div class="cell" data-rows="5" data-cols="4"></div>
    <div class="cell" data-rows="5" data-cols="5"></div>
    <div class="cell" data-rows="5" data-cols="6"></div>
    <div class="cell" data-rows="5" data-cols="7"></div>
    <div class="cell" data-rows="5" data-cols="8"></div>
    <div class="cell" data-rows="5" data-cols="9"></div>
    <div class="cell" data-rows="5" data-cols="10"></div>
    <div class="cell" data-rows="5" data-cols="11"></div>
    <div class="cell" data-rows="5" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="6" data-cols="1"></div>
    <div class="cell" data-rows="6" data-cols="2"></div>
    <div class="cell" data-rows="6" data-cols="3"></div>
    <div class="cell" data-rows="6" data-cols="4"></div>
    <div class="cell" data-rows="6" data-cols="5"></div>
    <div class="cell" data-rows="6" data-cols="6"></div>
    <div class="cell" data-rows="6" data-cols="7"></div>
    <div class="cell" data-rows="6" data-cols="8"></div>
    <div class="cell" data-rows="6" data-cols="9"></div>
    <div class="cell" data-rows="6" data-cols="10"></div>
    <div class="cell" data-rows="6" data-cols="11"></div>
    <div class="cell" data-rows="6" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="7" data-cols="1"></div>
    <div class="cell" data-rows="7" data-cols="2"></div>
    <div class="cell" data-rows="7" data-cols="3"></div>
    <div class="cell" data-rows="7" data-cols="4"></div>
    <div class="cell" data-rows="7" data-cols="5"></div>
    <div class="cell" data-rows="7" data-cols="6"></div>
    <div class="cell" data-rows="7" data-cols="7"></div>
    <div class="cell" data-rows="7" data-cols="8"></div>
    <div class="cell" data-rows="7" data-cols="9"></div>
    <div class="cell" data-rows="7" data-cols="10"></div>
    <div class="cell" data-rows="7" data-cols="11"></div>
    <div class="cell" data-rows="7" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="8" data-cols="1"></div>
    <div class="cell" data-rows="8" data-cols="2"></div>
    <div class="cell" data-rows="8" data-cols="3"></div>
    <div class="cell" data-rows="8" data-cols="4"></div>
    <div class="cell" data-rows="8" data-cols="5"></div>
    <div class="cell" data-rows="8" data-cols="6"></div>
    <div class="cell" data-rows="8" data-cols="7"></div>
    <div class="cell" data-rows="8" data-cols="8"></div>
    <div class="cell" data-rows="8" data-cols="9"></div>
    <div class="cell" data-rows="8" data-cols="10"></div>
    <div class="cell" data-rows="8" data-cols="11"></div>
    <div class="cell" data-rows="8" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="9" data-cols="1"></div>
    <div class="cell" data-rows="9" data-cols="2"></div>
    <div class="cell" data-rows="9" data-cols="3"></div>
    <div class="cell" data-rows="9" data-cols="4"></div>
    <div class="cell" data-rows="9" data-cols="5"></div>
    <div class="cell" data-rows="9" data-cols="6"></div>
    <div class="cell" data-rows="9" data-cols="7"></div>
    <div class="cell" data-rows="9" data-cols="8"></div>
    <div class="cell" data-rows="9" data-cols="9"></div>
    <div class="cell" data-rows="9" data-cols="10"></div>
    <div class="cell" data-rows="9" data-cols="11"></div>
    <div class="cell" data-rows="9" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="10" data-cols="1"></div>
    <div class="cell" data-rows="10" data-cols="2"></div>
    <div class="cell" data-rows="10" data-cols="3"></div>
    <div class="cell" data-rows="10" data-cols="4"></div>
    <div class="cell" data-rows="10" data-cols="5"></div>
    <div class="cell" data-rows="10" data-cols="6"></div>
    <div class="cell" data-rows="10" data-cols="7"></div>
    <div class="cell" data-rows="10" data-cols="8"></div>
    <div class="cell" data-rows="10" data-cols="9"></div>
    <div class="cell" data-rows="10" data-cols="10"></div>
    <div class="cell" data-rows="10" data-cols="11"></div>
    <div class="cell" data-rows="10" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="11" data-cols="1"></div>
    <div class="cell" data-rows="11" data-cols="2"></div>
    <div class="cell" data-rows="11" data-cols="3"></div>
    <div class="cell" data-rows="11" data-cols="4"></div>
    <div class="cell" data-rows="11" data-cols="5"></div>
    <div class="cell" data-rows="11" data-cols="6"></div>
    <div class="cell" data-rows="11" data-cols="7"></div>
    <div class="cell" data-rows="11" data-cols="8"></div>
    <div class="cell" data-rows="11" data-cols="9"></div>
    <div class="cell" data-rows="11" data-cols="10"></div>
    <div class="cell" data-rows="11" data-cols="11"></div>
    <div class="cell" data-rows="11" data-cols="12"></div>
  </div>
  <div class="row">
    <div class="cell" data-rows="12" data-cols="1"></div>
    <div class="cell" data-rows="12" data-cols="2"></div>
    <div class="cell" data-rows="12" data-cols="3"></div>
    <div class="cell" data-rows="12" data-cols="4"></div>
    <div class="cell" data-rows="12" data-cols="5"></div>
    <div class="cell" data-rows="12" data-cols="6"></div>
    <div class="cell" data-rows="12" data-cols="7"></div>
    <div class="cell" data-rows="12" data-cols="8"></div>
    <div class="cell" data-rows="12" data-cols="9"></div>
    <div class="cell" data-rows="12" data-cols="10"></div>
    <div class="cell" data-rows="12" data-cols="11"></div>
    <div class="cell" data-rows="12" data-cols="12"></div>
  </div>
</div>
