# Ignore common vendor modules
node_modules/*
source/node_modules/*
# Ignore the compiled vue templates
source/renderer/assets/vue
# Ignore the copied handlebars-runtime
source/common/assets/handlebars
# Ignore the compiled templates
source/common/assets/tpl
