# Node modules
node_modules

# Compiled releases
release

# Hidden files and stuff
/**/.DS_Store

# Don't commit these pesky yarn logs
yarn-error.log
yarn.log

# Don't commit ESLint error reports
eslint_report.htm
