<div class="pomodoro">
  <p><span id="pomodoro-phase-type">{{type}}</span></p>
  <p><span id="pomodoro-time-remaining">{{time}}</span></p>
  <button id="pomodoro-stop-button">{{i18n 'pomodoro.stop'}}</button>
</div>
