// Dark codemirror theming

.CodeMirror {
    background-color:@grey-7;
    color:@grey-2;
}

.CodeMirror-selected { background-color:@green-2 !important; }

.CodeMirror-cursor { background: @green-0; }

.CodeMirror-dialog {
    background-color: @blue-selection-dark;
    input { color: @blue-selection; }
}

// TYPOGRAPHY
.cm-formatting-header-1, .cm-formatting-header-2, .cm-formatting-header-3,
.cm-formatting-header-4, .cm-formatting-header-5, .cm-formatting-header-6,
.cm-url { color: @green-0; }

// Code blocks (called comment, why ever)
.cm-comment { color:@grey-3; }

/* LISTS */
.cm-formatting-list-ul,
.cm-formatting-list-ol { color: @green-0; }

/* TYPOGRAPHY */
.cm-quote, .cm-link, .cm-strong, .cm-em { color:@blue-3; }
.cm-spell-error { border-bottom:2px dotted @bg-error; }
.cm-zkn-tag, .cm-zkn-id, .cm-zkn-link { color:@green-0; }
.cma { color: @blue-selection; }
