<div class="quicklook">
    <div class="title">
        <h1></h1>
        <div class="find">
          <input type="text" id="searchWhat" placeholder="{{findPlaceholder}}">
        </div>
        <div class="close"></div>
    </div>
    <div class="body">
        <textarea></textarea>
    </div>
</div>
