// Directory list

#directories {
    position:absolute;
    top:0;
    left:0%;
    width:100%;
    bottom:0;
    transition:0.3s left ease;

    &.hidden {
        left:-100%;
        transition:0.3s left ease;
    }

    border-right:1px solid @grey-2;
    color: @grey-4;
    overflow-y: auto;
    cursor:default;
    outline: none;
    font-size:@font-size-small;

    // Direct descendants need some margin to the files and to other roots
    & > ul:not(:first-child) {
        padding-top:@ribbon-height/2;
        padding-bottom:@ribbon-height/2;
        border-top:1px solid @grey-2;
    }


    ul {
        list-style-type: none;
        margin-left:0px;
        padding-left:0px;

        .selected {
            background-color:@green-0;
            color:white;

            &:before {
                color:white;
            }
        }

        li {
            line-height: @ribbon-height;
            padding:@ribbon-padding;
            white-space: nowrap;
            padding-left:5px;
            margin:5px;
            line-height:120%;
            border-radius:8px;
            overflow: hidden;

            &:hover {
                background-color:@grey-1;
            }

            &.highlight {
                box-shadow: 0px 0px 1px 2px @green-selection;

                &:hover {
                    // Prevent hovering effect on drag'n'drop actions
                    background-color:inherit;
                }
            }

            &.root {

                &:before {
                    content: '\f0f0';
                    font-family: 'WebHostingHub-Glyphs';
                    font-size: @font-size-small * 0.8; /* Bit smaller, those indicators are damned huge */
                    margin-right:5px;
                    display:inline-block;
                    float:left; // So that the Icon stays leftmost, no matter what the indicator does.
                    height:16px;
                    color: @blue-0;
                }
            }
        }

        .collapse-indicator {
            margin-right:3px;
            float:left;

            &::before {
                content: "\f48b";
                font-family: 'WebHostingHub-Glyphs';
                font-size: @font-size-small * 0.6; /* Bit smaller, those indicators are damned huge */
                display:inline-block;
                vertical-align: sub;
                width:10px;
                height:16px;
                overflow:hidden;
            }
        }

        &.collapsed .collapse-indicator::before {
            content: "\f488";
            vertical-align: sub;
        }

        &.collapsed ul {
            height:0px;
            display:none;
        }
    }

    .file {
        line-height: @ribbon-height;
        padding:@ribbon-padding;
        white-space: nowrap;
        padding-left:5px;
        margin:5px;
        line-height:120%;
        border-radius:8px;
        overflow: hidden;

        &:before {
            content: '\f0d6';
            font-family: 'WebHostingHub-Glyphs';
            font-size: @font-size-small; /* Bit smaller, those indicators are damned huge */
            margin-right:5px;
            display:inline-block;
            position:relative;
            bottom:-2px;
        }

        &.selected {
            background-color:@green-0;
            color:white;
        }

        &:hover {
            background-color:@grey-1;
            color:inherit;
        }
    }

    .virtual-directory {
        color: @purple-selection;

        &:before {
            content: '\f4ea';
            font-family: 'WebHostingHub-Glyphs';
            font-size: @font-size-small; /* Bit smaller, those indicators are damned huge */
            margin-right:5px;
            display:inline-block;
            position:relative;
        }
    }

    .emptyPaths {
        background-color:@grey-0;
        color:@grey-4;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;

        .info {
            display: block;
            padding: 10px;
            margin-top: 50%;
            font-weight: bold;
            font-size: 200%;
        }
    }

    &.dark {
        background-color: @grey-6;
        border-right-color:@grey-4;
        color:white;

        & > ul:not(:first-child) {
            border-top-color:@grey-4;
        }

        .collapse-indicator::before {
            color:@grey-1;
        }

        ul {
            li:hover {
                background-color:@grey-5;
            }

            .selected {
                background-color:darken(@green-selection-dark, 20%);
            }
        }

        .file {
            &:hover {
                background-color:@grey-5;
            }
        }

        .emptyPaths {
            background-color:@grey-5;
            color:@grey-1;
        }
    }
}
