// Editor CSS

#editor {
    position:fixed;
    top:@toolbar-height;
    right:0;
    bottom:0;
    left:40%;

    &.no-directories {
        left:20%;
    }

    &.no-preview {
        left:20%;
    }

    &.no-directories.no-preview {
        left:0%;
    }

    &.dark {
        background-color:@grey-7;
    }

    .CodeMirror {
        height:100%;
        cursor:text;
        font-size: @font-size-big;
        font-family: inherit;
    }

    .CodeMirror-code {
        margin:5em 0em;
    }

    .CodeMirror-scroll {
        padding:0em 5em;
    }
}
