// Editor CSS

#editor {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:40%;

    &.dark {
        background-color:@grey-7;
    }

    .CodeMirror {
        height:100%;
        cursor:text;
        font-size:1em;
        font-family: inherit;
    }

    .CodeMirror-code {
        margin:5em 0em;
    }

    .CodeMirror-scroll {
        padding:0em 5em;
    }
}
