// Zettlr main Less file

@import "variables.less";

@import "fonts.less";

// Basic CSS
* {
    margin:0;
    box-sizing:border-box;
}

html, body {
    box-sizing: border-box;
}

html {
    font-size:@font-size-base;
}

body {
    overflow: hidden;
    user-select:none; // Prevent arbitrary selection outside of inputs
    // Fallback for all systems not identified as win32, darwin, or linux.
    font-family: 'Lato', 'Helvetica', 'Liberation Sans', Arial, sans-serif;

    &.win32 {
        // Lato on Windows looks bad b/c of very strange font antialiasing,
        // therefore we have to use Segoe UI, if available.
        font-family: 'Segoe UI', 'Liberation Sans', Arial, sans-serif;
    }

    &.darwin, &.linux {
        // Use built-in Lato for other systems.
        font-family: 'Lato', 'Helvetica', 'Liberation Sans', Arial, sans-serif;
    }

    div.dragger {
        // This class is applied to dragged elements
        display:block;
        font-size:@font-size-small;
        z-index:1000;
        max-width:500px;
        white-space: nowrap;
        padding:5px;
        border-radius:5px;
        background-color:@grey-1;
        box-shadow:5px 5px 15px 0px rgba(0,0,0,.25);
        cursor:default;
    }

    &.dark {
        div.dragger {
            color:white;
            background-color:@grey-6;
        }
    }
}

#container.blur {
    /* This is applied when a modal is shown */
    filter:blur(5px);
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background-color:rgba(240,240,240,1); }
::-webkit-scrollbar-thumb { background-color:@green-0; }
::-webkit-scrollbar-thumb:window-inactive { background-color: lighten(@green-0, 40%); }

.dark {
    // Dark scrollbars
    ::-webkit-scrollbar-track { background-color:@grey-6; }
}

@import "modal.less";

@import "directories.less";

@import "preview.less";

@import "editor.less";

@import 'loading_spinner.less';

@import 'quicklook.less';

@import 'toolbar.less';

@import 'notify.less';

@import 'popup.less';

@import 'attachments.less';
