// Zettlr main Less file

@import "variables.less";

@import "fonts.less";

// Basic CSS
* {
    margin:0;
    box-sizing:border-box;
}

html, body {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Helvetica', 'Liberation Sans', Arial, sans-serif;
    font-size:@font-size-base;
}

#container.blur {
    /* This is applied when a modal is shown */
    filter:blur(5px);
}

@import "modal.less";

@import "directories.less";

@import "preview.less";

@import "editor.less";

@import 'loading_spinner.less';

@import 'quicklook.less';

@import 'toolbar.less';

@import 'notify.less';

@import 'popup.less';
