// Styles for the renderer modals

.modal {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.5);
    z-index:1000;
    overflow-x:hidden; /* For longer settings(?) and stuff dialogs */
    overflow-y:auto;

    .dialog {
        background-color:white;
        margin:0 15%;
        border-radius:@border-radius;
        padding:20px;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);

        // General typography
        h1 {
            font-size: 1.5em;
            margin-bottom:0.5em;
        }

        p {
            margin-bottom:0.5em;
            line-height:150%;
        }

        hr {
            border:none;
            border-bottom:1px solid @grey-4;
            width:80%;
            margin:1em 10%;
        }

        ul {
            li {
                line-height:150%;
            }
        }

        code {
            background-color:@grey-1;
            border-radius:5px;
        }

        img {
            max-width:100%;
            max-height:100%;
        }

        // Forms

        label {
            color:@grey-4;
            margin:1em 0.5em 0.5em 0em;
            display:block;
            cursor:pointer;
            display:inline;
        }

        input {
            width: 100%;
            line-height: 150%;
            font-size: inherit;
            outline:none;
            margin-bottom:1em;
        }

        select {
            line-height: 200%;
            font-size: inherit;
            padding:0.5em;
            margin:0.5em;
        }

        input[type="checkbox"] {
            margin:0.5em;
            width:auto;
            display:inline;
        }

        button, a.button {
            display:inline-block;
            font-size:1em;
            margin:1em;
            padding:0.5em 1em;
            background-color:white;
            color:black;
            border:1px solid @grey-6;
            transition:0.2s background-color ease;
            cursor:pointer;
            text-decoration:none;

            &:hover {
                background-color:@green-selection;
                transition:0.2s background-color ease;
            }
        }

        .changelog {
            max-height:300px;
            overflow-y:auto;
            border:1px solid @grey-4;
            border-radius:@border-radius;
            padding:10px;
            margin:10px 0px;
        }

        .error {
            background-color:@bg-error;
            color: @fg-error;
            border:1px solid @fg-error;
            border-radius:5px;
            margin:0.5em;
            padding:1em;
        }

        // Tabs styles
        .ui-tabs-nav {
            display:flex;
            border-bottom:1px solid black;
            padding:0;
            margin-bottom:20px;

            .ui-tabs-tab {
                flex: 1;
                display:inline-block;
                line-height:200%;
                list-style-type: none;

                &.ui-tabs-active {
                    background-color:@blue-selection;
                }

                a {
                    color:black;
                    text-decoration:none;
                    display:inline-block;
                    width:100%;
                    text-align:center;
                    outline:none;
                    transition:0.4s all ease;
                }

                &:hover {
                    background-color:@grey-1;
                    transition:0.4s all ease;
                }
            }
        }

    }
}
