// Popup related css classes

@arrow-size: 5px;

@popup-light-color: rgba(255, 255, 255, .9);
@popup-dark-color:  rgba(  0,   0,   0, .9);

@popup-light-text: @grey-7;
@popup-dark-text: @grey-1;

.popup-arrow {
    width:0;
    height:0;
    position:fixed;

    &.up {
        border-left: @arrow-size solid transparent;
        border-right: @arrow-size solid transparent;
        border-bottom: @arrow-size solid @popup-light-color;
    }
    &.down {
        border-left: @arrow-size solid transparent;
        border-right: @arrow-size solid transparent;
        border-top: @arrow-size solid @popup-light-color;
    }
    &.left {
        border-top: @arrow-size solid transparent;
        border-bottom: @arrow-size solid transparent;
        border-right:@arrow-size solid @popup-light-color;
    }
    &.right {
        border-top: @arrow-size solid transparent;
        border-bottom: @arrow-size solid transparent;
        border-left: @arrow-size solid @popup-light-color;
    }
}

.popup {
    position:fixed;
    background-color: @popup-light-color;
    color: @popup-light-text;
    border-radius:4px;
    box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.25);
    border-radius:2px;
    max-width:200px; // Maximum width.
    max-height:600px; // Maximum height. If its too much simply scroll.
    overflow-y: auto;
    overflow-x: hidden;

    // TOC links
    a.toc-link {
        color: @popup-light-text;
        transition:0.4s all ease;
        text-decoration:none;
        display:block;
        line-height:150%;
        padding:4px;
        overflow-x: hidden;
        white-space:nowrap;
        &:hover {
            background-color:@grey-0;
            transition:0.4s all ease;
        }
    }

    p {
        margin:10px;
        font-size:200%;
        text-align:center;
    }

    button {
        border:none;
        font-size:200%;
        width:100%;
        background-color: @popup-light-color;
        color:white;
        padding:10px;
        display:block;
        text-align:center;
    }

    // Elements inside popups
    form {
        input {
            background-color: transparent;
            color:inherit;
            padding:5px;
            font-size:200%;
            display:block;
            border:none;
            width:100%;
            text-align:center;
            &:focus {
                outline:0;
            }

            &.small {
                font-size:140%;
                text-align:left;
            }
        }

        input[type="checkbox"] {
            display:inline-block;
            margin:5px;
            width:auto;
        }

        label {
            display: inline-block;
            margin:5px;
        }
    }

    // Share buttons
    .btn-share {
        display:inline-block;
        width:46px;
        height:46px;
        line-height:50px;
        text-align:center;
        transition:0.2s all ease;
        cursor:default;

        &.htm {
            color:rgba(78, 175, 87, 1); /* W3C color code */
            &:hover {
                background-color:rgba(78, 175, 87, 1);
                color:white;
            }
        }

        &.docx {
            color:rgba(45, 88, 151, 1); /* MS Word color code */
            &:hover {
                background-color:rgba(45, 88, 151, 1);
                color:white;
            }
        }

        &.odt {
            color:@popup-light-text;
            &:hover {
                background-color:white;
                color:black;
            }
        }

        &.pdf {
            color:rgba(253, 48, 26, 1); /* Adobe reader PDF color code */
            &:hover {
                background-color:rgba(253, 48, 26, 1);
                color:black;
            }
        }
    }
}

// If the body has the dark class, display dark popups
.dark {
    .popup {
        background-color: @popup-dark-color;
        box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
        color:@popup-dark-text;

        button {
            background-color: @popup-dark-color;
        }

        .btn-share {
            &.odt {
                color: @popup-dark-text;
            }
        }

        a.toc-link {
            color: @popup-dark-text;

            &:hover {
                background-color: lighten(@popup-dark-color, 20%);
            }
        }
    }

    .popup-arrow {
        &.up    { border-bottom-color: @popup-dark-color; }
        &.down  { border-top-color:    @popup-dark-color; }
        &.left  { border-right-color:  @popup-dark-color; }
        &.right { border-left-color:   @popup-dark-color; }
    }
}
