// Popup related css classes

@arrow-size: 5px;

@popup-light-color: rgba(255, 255, 255, .9);
@popup-dark-color:  rgba(  0,   0,   0, .9);

@popup-light-text: @grey-7;
@popup-dark-text: @grey-1;

.popup-arrow {
    width:0;
    height:0;
    position:fixed;

    &.up {
        border-left: @arrow-size solid transparent;
        border-right: @arrow-size solid transparent;
        border-bottom: @arrow-size solid @popup-light-color;
    }
    &.down {
        border-left: @arrow-size solid transparent;
        border-right: @arrow-size solid transparent;
        border-top: @arrow-size solid @popup-light-color;
    }
    &.left {
        border-top: @arrow-size solid transparent;
        border-bottom: @arrow-size solid transparent;
        border-right:@arrow-size solid @popup-light-color;
    }
    &.right {
        border-top: @arrow-size solid transparent;
        border-bottom: @arrow-size solid transparent;
        border-left: @arrow-size solid @popup-light-color;
    }
}

.popup {
    position:fixed;
    background-color: @popup-light-color;
    color: @popup-light-text;
    border-radius:4px;
    box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.5);
    border-radius:2px;
    max-width:250px; // Maximum width.
    max-height:600px; // Maximum height. If its too much simply scroll.
    overflow-y: auto;
    overflow-x: hidden;

    // TOC links
    a.toc-link {
        color: @popup-light-text;
        transition:0.4s all ease;
        text-decoration:none;
        display:block;
        line-height:150%;
        padding:4px;
        overflow-x: hidden;
        white-space:nowrap;
        &:hover {
            background-color:@grey-0;
            transition:0.4s all ease;
        }
    }

    p {
        margin:10px;
        text-align:center;
    }

    table {
        vertical-align:middle;

        td {
            padding:4px;
        }
    }

    button {
        border:none;
        font-size:200%;
        width:100%;
        background-color: @popup-light-color;
        color: @popup-light-text;
        padding:10px;
        display:block;
        text-align:center;
    }

    // Elements inside popups
    form {
        input {
            background-color: transparent;
            color:inherit;
            padding:5px;
            font-size:200%;
            display:block;
            border:none;
            width:100%;
            text-align:center;
            &:focus {
                outline:0;
            }

            &.small {
                font-size:140%;
                text-align:left;
            }
        }

        input[type="checkbox"] {
            display:inline-block;
            margin:5px;
            width:auto;
        }

        label {
            display: inline-block;
            margin:5px;
        }
    }

    // Share buttons
    .btn-share {
        display:inline-block;
        width:46px;
        height:46px;
        line-height:50px;
        text-align:center;
        transition:0.2s all ease;
        cursor:default;

        &.htm {
            color:rgba(78, 175, 87, 1); /* W3C color code */
            &:hover {
                background-color:rgba(78, 175, 87, 1);
                color:white;
            }
        }

        &.docx {
            color:rgba(45, 88, 151, 1); /* MS Word color code */
            &:hover {
                background-color:rgba(45, 88, 151, 1);
                color:white;
            }
        }

        &.odt {
            color:@popup-light-text;
            &:hover {
                background-color:white;
                color:black;
            }
        }

        &.pdf {
            color:rgba(253, 48, 26, 1); /* Adobe reader PDF color code */
            &:hover {
                background-color:rgba(253, 48, 26, 1);
                color:black;
            }
        }
    }

    // Formatting
    .formatting {
        a {
            text-decoration:none;
            display:block;
            padding:5px 10px;
            color:inherit;

            &:hover {
                background-color:@grey-2;
            }

            &#header-formatting {
                display:flex;
                &::before {
                    padding:10px 0px;
                }
                &:hover {
                    background-color:transparent;
                }
            }

            span.markdownHeading1,
            span.markdownHeading2,
            span.markdownHeading3,
            span.markdownHeading4,
            span.markdownHeading5,
            span.markdownHeading6 {
                display:inline-block;
                padding:5px 0px;
                flex: 1;
                text-align:center;
                font-weight:bold;

                &.active {
                    color:@green-0;
                }
            }

            &::before {
                font-family: 'WebHostingHub-Glyphs';
                font-size:@font-size-small * 0.8;
                padding-right:5px;
                width:30px;
                display:inline-block;
            }
        }

        #header-formatting.markdownHeading1::before { content: "h1"; }
        #header-formatting.markdownHeading2::before { content: "h2"; }
        #header-formatting.markdownHeading3::before { content: "h3"; }
        #header-formatting.markdownHeading4::before { content: "h4"; }
        #header-formatting.markdownHeading5::before { content: "h5"; }
        #header-formatting.markdownHeading6::before { content: "h6"; }

        .markdownBlockquote::before         { content: '\f328'; }
        .markdownLink::before               { content: "\f022"; }
        .markdownImage::before              { content: "\22b7"; }
        .markdownCode::before               { content: "\f743"; }
        .markdownMakeOrderedList::before    { content: "\f4c3"; }
        .markdownMakeUnorderedList::before  { content: "\f4c2"; }
        .markdownDivider::before            { content: "\f1cc"; }
        .insertFootnote::before             { content: "\f1eb"; }

        .markdownBold {
            font-weight:bold;
            &::before { content: "\f1f4"; }
        }

        .markdownItalic {
            font-style:italic;
            &::before { content: "\f1f5"; }
        }

        .removeFootnote::before {
            content: "\f1eb";
            text-decoration:line-through;
        }

        hr {
            margin:14px 20px;
            border:none;
            border-bottom:1px solid @grey-3;
        }
    }

    // SEARCH POPUP
    .search {
        input {
            font-size:100%;
            text-align:left;
            display:inline;
            width:60%;
            background-color: transparent;
            color:inherit;
            padding:5px;
            border:none;
            &:focus {
                outline:0;
            }

            &:first-child {
                border-bottom:1px solid @grey-5;
            }
        }

        button {
            width:auto;
            padding:5px 2px;
            margin:0px;
            border-radius:2px;
            font-size:@font-size-small;
            overflow:hidden;
            display:inline;
            background-color:@grey-0;

            &:hover {
                background-color:@grey-3;
            }

            &#searchNext {
                width:40%;
            }

            &#replaceNext {
                width:28%;
            }

            &#replaceAll {
                width:12%;
            }
        }
    }

    // Recent docs
    .recent-docs {
        a {
            display:block;
            text-decoration: none;
            color:inherit;
            padding:5px;
            margin:0;
            white-space: nowrap;
            overflow-x:hidden;

            &:hover {
                background-color:@grey-1;
            }
        }
    }

    // Footnote edit popup
    .footnote-edit {
        textarea {
            background-color:transparent;
            color:inherit;
            font-size:@font-size-base;
            min-height:150px;
            border:none;
            width:250px; // Maximum width

            &:focus {
                outline:0;
            }
        }
    }
}

// If the body has the dark class, display dark popups
.dark {
    .popup {
        background-color: @popup-dark-color;
        box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
        color:@popup-dark-text;

        button {
            background-color: @popup-dark-color;
            color: @popup-dark-text;
        }

        .btn-share {
            &.odt {
                color: @popup-dark-text;
            }
        }

        a.toc-link {
            color: @popup-dark-text;

            &:hover {
                background-color: lighten(@popup-dark-color, 20%);
            }
        }

        .formatting {
            a:hover {
                background-color:@grey-3;
            }
        }

        .search {
            button {
                background-color: @popup-dark-color;
            }
        }

        .recent-docs {
            a:hover {
                background-color:@grey-3;
            }
        }
    }

    .popup-arrow {
        &.up    { border-bottom-color: @popup-dark-color; }
        &.down  { border-top-color:    @popup-dark-color; }
        &.left  { border-right-color:  @popup-dark-color; }
        &.right { border-left-color:   @popup-dark-color; }
    }
}
