/**
 * @ignore
 * BEGIN HEADER
 *
 * Contains:        Generic CSS
 * CVM-Role:        CSS
 * Maintainer:      Hendrik Erz
 * License:         GNU GPL v3
 *
 * Description:     This file contains generic CSS for all platforms. NOTE:
 *                  This is likely going to fall prey to a refactor.
 *
 * END HEADER
 */

/* Variables */
:root {
  --zettlr-note-color: rgb(125, 125, 125);
  --zettlr-tip-color: rgb(75, 134, 75);
  --zettlr-important-color: rgb(133, 87, 133);
  --zettlr-warning-color: rgb(130, 130, 48);
  --zettlr-caution-color: rgb(148, 76, 76);

  --zettlr-note-bg: rgb(220, 220, 220);
  --zettlr-tip-bg: rgb(200, 250, 200);
  --zettlr-important-bg: rgb(250, 180, 250);
  --zettlr-warning-bg: rgb(250, 250, 180);
  --zettlr-caution-bg: rgb(250, 210, 210);
}

body.dark {
  --zettlr-note-color: rgb(200, 200, 200);
  --zettlr-tip-color: rgb(106 205 106);
  --zettlr-important-color: rgb(199, 87, 199);
  --zettlr-warning-color: rgb(193, 193, 68);
  --zettlr-caution-color: rgb(227, 99, 99);

  --zettlr-note-bg: rgba(60, 60, 60, 0.6);
  --zettlr-tip-bg: rgba(0, 70, 0, 0.6);
  --zettlr-important-bg: rgba(90, 30, 90, 0.6);
  --zettlr-warning-bg: rgba(70, 70, 0, 0.6);
  --zettlr-caution-bg: rgba(80, 10, 10, 0.6);
}

/* Generic styles that apply to all platforms */
body {
  label {
    font-family: system-ui, sans-serif;
  }

  .form-control {
    break-inside: avoid;

    /* Full width styles */
    input:not(.inline),
    select:not(.inline),
    textarea:not(.inline) {
      width: 100%;
      display: block;
      margin-bottom: 5px;
      margin-top: 2px;
    }

    /* Add some margin to inline elements */
    input.inline, select.inline {
      margin: 0 10px;
    }
  }

  /* Shows an input and a button side by side */
  .input-button-group {
    display: flex;
    input {
      flex: 9;
      margin-right: 4px;
    }

    button {
      flex: 1;
    }
  }
}

body.darwin {
  /* Generic inputs */
  input, select, textarea, button {
    font-family: system-ui, sans-serif;
    font-size: 13px;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    border-bottom-color: rgb(180, 180, 180);
    border-radius: 6px;
    padding: 2px 4px;
  }

  input[disabled] {
    background-color: rgb(248, 248, 248);
    color: rgb(179, 179, 179);
    border-color: rgb(230, 230, 230);
    border-bottom-color: rgb(221, 221, 221);
  }

  &.dark {
    /* Generic inputs */
    input, select, textarea, button {
      color: rgb(215, 215, 215);
      border-color: transparent;
      background-color: rgb(85, 85, 85);
      border-top-color: rgb(100, 100, 100);
    }
  }
}

body.win32 {
  fieldset {
    border: none;
  }

  /* Generic inputs */
  input, select, textarea, button {
    background-color: white;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 0px;
    min-width: 50px;
    padding: 8px 8px;
  }

  input[type="color"] {
    padding: 0px;
  }

  &.dark {
    input, select, textarea, button {
      background-color: rgb(90, 90, 90);
      color: white;
      border-color: rgb(120, 120, 120);
    }
  }
}

body.linux {
  fieldset {
    border: none;
  }

  input, select, textarea, button {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid rgb(180, 180, 180);
  }

  button {
    background-color: rgb(230, 230, 230);
  }

  &.dark {
    input, select, textarea, button {
      background-color: rgb(90, 90, 90);
      color: white;
      border-color: rgb(120, 120, 120);
    }
  }
}
