<div class="dialog">
    <h1>{{i18n "dialog.note_network.title" }}</h1>
    <p>{{i18n "dialog.note_network.info" }}</p>
    <div id="visualize">
        <div>
            <svg className="svg-content-responsive"></svg>
        </div>
    </div>
    <button id="abort">{{i18n "dialog.button.close"}}</button>
</div>
