<div class="dialog">
    <h1>{{i18n "dialog.statistics.title"}}</h1>
    <p>{{i18n "dialog.statistics.intro"}}</p>
    <canvas id="canvas"></canvas>
    <button id="abort">{{i18n "dialog.update.close"}}</button>
</div>
