// Editor Geometry

#editor {
    position:fixed;
    top:@toolbar-height;
    right:0;
    bottom:0;
    left: 20%;
    overflow-x:hidden;
    overflow-y: auto;
    padding-left: 10px; // Don't include the resize-marker (needed to make the gutters work)

    &.collapsed { left: 40%; }
    &.fullscreen { left: 0%; padding-left: 0px; }

    // JQUERY UI - THEME (necessary for resizable to work)
    .ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
    .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
    .ui-resizable-w { cursor: ew-resize; width: 10px; left: 0px; top: 0; height: 100%; }

    .CodeMirror {
        height:100%;
        cursor:text;
        font-family: inherit;
        margin-left: 0.5em;

        @media(min-width: 1024px) { margin-left: 2.5em; }
        @media(min-width: 900px) { margin-left: 1em; }
    }

    .CodeMirror-code {
        margin:5em 0em;
        @media(max-width: 1024px) { margin: 3em 0em; }

        .mute { opacity:0.2; }
    }

    .CodeMirror-scroll {
        padding-right: 5em;
        @media(max-width: 1200px) { padding-right: 2.5em; }
        @media(max-width: 1024px) { padding-right: 1em; }
        @media(max-width: 900px) { padding-right: 0.5em; }
        overflow-x:hidden !important; // Necessary to hide the horizontal scrollbar
    }
}


// CodeMirror fullscreen
.CodeMirror-fullscreen {
  position: fixed !important; // Have to override another relative
  top: @toolbar-height; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 500;

  @media(min-width: 1301px) { margin-left: 20em  !important; }
  @media(max-width: 1300px) { margin-left: 10em  !important; }
  @media(max-width:1100px)  { margin-left: 7.5em !important; }
  @media(max-width:1000px)  { margin-left: 5em   !important; }
  @media(max-width:800px)   { margin-left: 2.5em !important; }

  .CodeMirror-scroll {
      @media(min-width: 1301px) { padding-right: 20em  !important; }
      @media(max-width: 1300px) { padding-right: 10em  !important; }
      @media(max-width:1100px)  { padding-right: 7.5em !important; }
      @media(max-width:1000px)  { padding-right: 5em   !important; }
      @media(max-width:800px)   { padding-right: 2.5em !important; }
  }
}
