@font-face {
  font-family: 'WebHostingHub-Glyphs';
  src: url('../whh-font/webhostinghub-glyphs.eot');
  src: url('../whh-font/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'), url('../whh-font/webhostinghub-glyphs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-HeavyItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
}
html {
  font-size: 1em;
}
body {
  overflow: hidden;
  user-select: none;
  font-family: 'Lato', 'Helvetica', 'Liberation Sans', Arial, sans-serif;
}
body.win32 {
  font-family: 'Segoe UI', 'Liberation Sans', Arial, sans-serif;
}
body.darwin,
body.linux {
  font-family: 'Lato', 'Helvetica', 'Liberation Sans', Arial, sans-serif;
}
body div.dragger {
  display: block;
  font-size: 0.9em;
  z-index: 1000;
  max-width: 500px;
  white-space: nowrap;
  padding: 5px;
  border-radius: 5px;
  background-color: #dcdcdc;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
  cursor: default;
}
body.dark {
  background-color: #282828;
}
body.dark div.dragger {
  color: white;
  background-color: #464646;
}
#container.blur {
  /* This is applied when a modal is shown */
  filter: blur(5px);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background-color: #1cb27e;
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #a9f1d8;
}
.dark ::-webkit-scrollbar-track {
  background-color: #464646;
}
.clearfix {
  clear: both;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-x: hidden;
  /* For longer settings(?) and stuff dialogs */
  overflow-y: auto;
}
.modal .dialog {
  background-color: white;
  margin: 0 15%;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.45);
}
.modal .dialog h1 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.modal .dialog h1 small {
  font-size: 75%;
  color: #787878;
}
.modal .dialog h2,
.modal .dialog h3,
.modal .dialog h4,
.modal .dialog h5,
.modal .dialog h6 {
  margin-bottom: 1em;
}
.modal .dialog p,
.modal .dialog li {
  margin-bottom: 0.5em;
  line-height: 150%;
}
.modal .dialog ul,
.modal .dialog ol {
  margin-bottom: 0.5em;
}
.modal .dialog hr {
  border: none;
  border-bottom: 1px solid #646464;
  width: 80%;
  margin: 1em 10%;
}
.modal .dialog ul li {
  line-height: 150%;
}
.modal .dialog code {
  background-color: #f0f0f0;
  border-radius: 2px;
  padding: 2px 5px;
}
.modal .dialog img {
  max-width: 100%;
  max-height: 100%;
}
.modal .dialog label {
  color: #646464;
  margin: 1em 0.5em 0.5em 0em;
  display: block;
  cursor: pointer;
  display: inline;
}
.modal .dialog input {
  width: 100%;
  line-height: 150%;
  font-size: inherit;
  outline: none;
  margin-bottom: 1em;
}
.modal .dialog select {
  line-height: 200%;
  font-size: inherit;
  padding: 0.5em;
  margin: 0.5em;
}
.modal .dialog input[type="checkbox"],
.modal .dialog input[type="radio"] {
  margin: 0.5em;
  width: auto;
  display: inline;
}
.modal .dialog textarea {
  font-size: inherit;
  width: 100%;
  padding: 1em;
  border-radius: 4px;
}
.modal .dialog button,
.modal .dialog a.button {
  display: inline-block;
  font-size: 1em;
  margin: 1em;
  padding: 0.5em 1em;
  background-color: white;
  color: black;
  border: 1px solid #464646;
  transition: 0.2s background-color ease;
  cursor: pointer;
  text-decoration: none;
}
.modal .dialog button:hover,
.modal .dialog a.button:hover {
  background-color: #c8f0aa;
  transition: 0.2s background-color ease;
}
.modal .dialog .changelog {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #646464;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 0px;
}
.modal .dialog div.clear {
  clear: both;
}
.modal .dialog div.box-left {
  width: 50%;
  height: 80%;
  padding: 2%;
  float: left;
}
.modal .dialog div.box-right {
  width: 50%;
  height: 80%;
  padding: 2%;
  float: right;
}
.modal .dialog div.paper {
  position: relative;
}
.modal .dialog div.paper.a4paper {
  width: 5em;
  height: 7em;
  margin: 1em auto;
  border: 1px solid black;
}
.modal .dialog div.paper input[type="number"] {
  text-align: center;
  width: 4em;
}
.modal .dialog div.paper .tmargin {
  position: absolute;
  top: -2em;
  margin: 0 0.5em;
}
.modal .dialog div.paper .rmargin {
  position: absolute;
  right: -4.1em;
  top: 2.5em;
}
.modal .dialog div.paper .bmargin {
  position: absolute;
  bottom: -2em;
  margin: 0 0.5em;
}
.modal .dialog div.paper .lmargin {
  position: absolute;
  left: -4.2em;
  top: 2.5em;
}
.modal .dialog .pdf-preview {
  max-height: 100%;
  overflow-y: auto;
}
.modal .dialog .error {
  background-color: #ffb0b0;
  color: #941010;
  border: 1px solid #941010;
  border-radius: 5px;
  margin: 0.5em;
  padding: 1em;
}
.modal .dialog div#prefs-taglist div {
  display: flex;
}
.modal .dialog div#prefs-taglist div input,
.modal .dialog div#prefs-taglist div button {
  flex-grow: 1;
  display: inline;
  margin: 0.5em;
}
.modal .dialog .projects {
  display: flex;
}
.modal .dialog .projects .flex {
  flex: 1;
  padding: 1em;
}
.modal .dialog .projects .flex img {
  width: 100%;
  max-height: 100%;
}
.modal .dialog .ui-tabs-nav {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0;
  margin-bottom: 20px;
}
.modal .dialog .ui-tabs-nav .ui-tabs-tab {
  flex: 1;
  display: inline-block;
  line-height: 200%;
  list-style-type: none;
  margin-bottom: 0;
}
.modal .dialog .ui-tabs-nav .ui-tabs-tab.ui-tabs-active {
  background-color: #1cb27e;
}
.modal .dialog .ui-tabs-nav .ui-tabs-tab a {
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  outline: none;
}
.modal .dialog .ui-tabs-nav .ui-tabs-tab:hover {
  background-color: #dcdcdc;
}
#directories {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  bottom: 0;
  transition: 0.3s left ease;
  border-right: 1px solid #c8c8c8;
  color: #646464;
  overflow-y: auto;
  cursor: default;
  outline: none;
  font-size: 0.9em;
}
#directories.hidden {
  left: -100%;
  transition: 0.3s left ease;
}
#directories > ul:not(:first-child) {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-top: 1px solid #c8c8c8;
}
#directories ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
#directories ul .selected {
  background-color: #1cb27e;
  color: white;
}
#directories ul .selected:before {
  color: white;
}
#directories ul li {
  line-height: 1.6em;
  padding: 0.1em 0.4em;
  white-space: nowrap;
  padding-left: 5px;
  margin: 5px;
  line-height: 120%;
  border-radius: 8px;
  overflow: hidden;
}
#directories ul li:hover {
  background-color: #dcdcdc;
}
#directories ul li.highlight {
  box-shadow: 0px 0px 1px 2px #c8f0aa;
}
#directories ul li.highlight:hover {
  background-color: inherit;
}
#directories ul li.root:before {
  content: '\f0f0';
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.72em;
  /* Bit smaller, those indicators are damned huge */
  margin-right: 5px;
  display: inline-block;
  float: left;
  height: 16px;
  color: #1d75b3;
}
#directories ul .collapse-indicator {
  margin-right: 3px;
  float: left;
}
#directories ul .collapse-indicator::before {
  content: "\f48b";
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.54em;
  /* Bit smaller, those indicators are damned huge */
  display: inline-block;
  vertical-align: sub;
  width: 10px;
  height: 16px;
  overflow: hidden;
}
#directories ul.collapsed .collapse-indicator::before {
  content: "\f488";
  vertical-align: sub;
}
#directories ul.collapsed ul {
  height: 0px;
  display: none;
}
#directories .file {
  line-height: 1.6em;
  padding: 0.1em 0.4em;
  white-space: nowrap;
  padding-left: 5px;
  margin: 5px;
  line-height: 120%;
  border-radius: 8px;
  overflow: hidden;
}
#directories .file:before {
  content: '\f0d6';
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.9em;
  /* Bit smaller, those indicators are damned huge */
  margin-right: 5px;
  display: inline-block;
  position: relative;
  bottom: -2px;
}
#directories .file.selected {
  background-color: #1cb27e;
  color: white;
}
#directories .file:hover {
  background-color: #dcdcdc;
  color: inherit;
}
#directories .virtual-directory {
  color: #d8abf1;
}
#directories .virtual-directory:before {
  content: '\f4ea';
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.9em;
  /* Bit smaller, those indicators are damned huge */
  margin-right: 5px;
  display: inline-block;
  position: relative;
}
#directories .project {
  color: #941010;
}
#directories .project:before {
  content: '\f6af';
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.9em;
  /* Bit smaller, those indicators are damned huge */
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
}
#directories .emptyPaths {
  background-color: #f0f0f0;
  color: #646464;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#directories .emptyPaths .info {
  display: block;
  padding: 10px;
  margin-top: 50%;
  font-weight: bold;
  font-size: 200%;
}
#directories.dark {
  background-color: #464646;
  border-right-color: #646464;
  color: white;
}
#directories.dark > ul:not(:first-child) {
  border-top-color: #646464;
}
#directories.dark .collapse-indicator::before {
  color: #dcdcdc;
}
#directories.dark ul li:hover {
  background-color: #505050;
}
#directories.dark ul .selected {
  background-color: #35652f;
}
#directories.dark .file:hover {
  background-color: #505050;
}
#directories.dark .project {
  color: #ffb0b0;
}
#directories.dark .emptyPaths {
  background-color: #505050;
  color: #dcdcdc;
}
/* max-height - the only parameter in this file that needs to be edited.
 * Change it to suit your needs. The rest is recommended to leave as is.
 */
.clusterize-scroll {
  max-height: 100%;
  overflow: auto;
}
/**
 * Avoid vertical margins for extra tags
 * Necessary for correct calculations when rows have nonzero vertical margins
 */
.clusterize-extra-row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* By default extra tag .clusterize-keep-parity added to keep parity of rows.
 * Useful when used :nth-child(even/odd)
 */
.clusterize-extra-row.clusterize-keep-parity {
  display: none;
}
/* During initialization clusterize adds tabindex to force the browser to keep focus
 * on the scrolling list, see issue #11
 * Outline removes default browser's borders for focused elements.
 */
.clusterize-content {
  outline: 0;
  counter-reset: clusterize-counter;
}
/* Centering message that appears when no data provided
 */
.clusterize-no-data td {
  text-align: center;
}
#preview {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0%;
  bottom: 0;
  transition: 0.3s left ease;
  border-right: 1px solid #c8c8c8;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
  outline: none;
  background-color: inherit;
  font-size: 0.9em;
}
#preview.hidden {
  left: 100%;
  transition: 0.3s left ease;
}
#preview ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  background-color: inherit;
}
#preview ul .selected {
  background-color: #c8f0aa;
}
#preview ul li {
  border-bottom: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  margin-top: -1px;
  background-color: inherit;
  overflow: hidden;
  line-height: 30px;
  padding-left: 6px;
  position: relative;
  /* Taglist stuff */
}
#preview ul li.snippets {
  height: 89.2px;
  padding: 0.4em;
  line-height: inherit;
}
#preview ul li.vd-file {
  background-color: #ecd7f8;
}
#preview ul li.file:hover {
  background-color: #f0f0f0 !important;
}
#preview ul li p.filename {
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(90deg, #282828 0%, #282828 90%, transparent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#preview ul li span,
#preview ul li small {
  display: block;
  margin-top: 5px;
}
#preview ul li .taglist {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 25px;
  justify-content: space-between;
  transition: 0.2s width ease;
}
#preview ul li .taglist .tag {
  height: 25px;
  width: auto;
  border-radius: 0;
  border: none;
  margin: 0 auto;
  transition: 0.2s all ease-out;
  opacity: 0.4;
}
#preview ul li .taglist:hover {
  width: 100%;
  transition: 0.2s width ease;
  opacity: 1;
}
#preview ul li .taglist:hover .tag {
  width: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.2s all ease-in;
  opacity: 1;
}
#preview ul li .taglist .tagspacer {
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
}
#preview ul li .taglist .tagspacer:only-child .tag {
  width: 25px;
  border-radius: 50%;
  border: 2px solid white;
}
#preview ul li.directory,
#preview ul li.virtual-directory {
  background-color: #f0f0f0;
  color: #1cb27e;
  white-space: nowrap;
}
#preview ul li.directory .sorter,
#preview ul li.virtual-directory .sorter {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: right;
  margin: 0;
}
#preview ul li.directory span.sortTime,
#preview ul li.virtual-directory span.sortTime,
#preview ul li.directory span.sortName,
#preview ul li.virtual-directory span.sortName {
  background-color: #f0f0f0;
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.72em;
  padding: 0 0.5em;
  display: inline-block;
  margin-top: 0px;
}
#preview ul li.directory span.sortTime:hover,
#preview ul li.virtual-directory span.sortTime:hover,
#preview ul li.directory span.sortName:hover,
#preview ul li.virtual-directory span.sortName:hover {
  color: #505050;
}
#preview ul li.virtual-directory {
  color: #641e78;
}
#preview #search-directory {
  position: sticky;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  overflow: hidden;
  border-bottom: 1px solid #32465a;
}
#preview #search-directory input {
  font-size: 1em;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 2px 10px;
  background-color: #c8dcf0;
  color: #32465a;
}
#preview #search-directory input::placeholder {
  color: #1d75b3;
}
#preview #search-directory #counter {
  position: relative;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 5px;
  margin: 0;
  padding: 0;
  transition: 0.2s bottom ease;
}
#preview #search-directory #counter.show {
  bottom: 9px;
  transition: 0.2s bottom ease;
}
#preview #search-directory #counter .progress {
  background-color: #5aaa50;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}
#preview.dark {
  background-color: #464646;
  border-right-color: #505050;
  color: white;
}
#preview.dark ul .selected {
  background-color: #6478b4;
}
#preview.dark ul li p.filename {
  background-image: linear-gradient(90deg, white 0%, white 90%, transparent 100%);
}
#preview.dark ul li small {
  color: #dcdcdc;
}
#preview.dark ul li.file:hover {
  background-color: #787878 !important;
}
#preview.dark ul li.vd-file {
  background-color: #641e78;
}
#preview.dark ul li.directory,
#preview.dark ul li.virtual-directory {
  background-color: #282828;
  color: #787878;
}
#preview.dark ul li.directory span.sortTime,
#preview.dark ul li.virtual-directory span.sortTime,
#preview.dark ul li.directory span.sortName,
#preview.dark ul li.virtual-directory span.sortName {
  background-color: #282828;
}
#preview.dark ul li.directory span.sortTime:hover,
#preview.dark ul li.virtual-directory span.sortTime:hover,
#preview.dark ul li.directory span.sortName:hover,
#preview.dark ul li.virtual-directory span.sortName:hover {
  color: #c8c8c8;
  background-color: #282828;
}
#preview.dark ul li.virtual-directory {
  color: #d8abf1;
}
#preview.dark #search-directory input {
  background-color: #6478b4;
  color: #c8dcf0;
}
#preview.dark #search-directory input::placeholder {
  color: #c8dcf0;
}
#preview.dark #search-directory #counter .progress {
  background-color: #c8f0aa;
}
#combiner {
  position: fixed;
  top: 39px;
  left: 0;
  width: 20%;
  bottom: 0;
  overflow: hidden;
}
#combiner.expanded {
  width: 40%;
}
#combiner.expanded #directories,
#combiner.expanded #preview {
  width: 50%;
}
#combiner.expanded #preview {
  left: 50%;
}
#combiner.expanded #preview.hidden {
  left: 50%;
}
#combiner.expanded #directories {
  left: 0%;
}
#combiner.expanded #directories.hidden {
  left: 0%;
}
#combiner #arrow-button {
  text-align: center;
  vertical-align: middle;
  z-index: 400;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 0.4s left ease;
}
#combiner #arrow-button:before {
  content: '\f305';
  font-family: 'WebHostingHub-Glyphs';
  line-height: 30px;
}
#combiner #arrow-button.hidden {
  left: -60px;
  transition: 0.4s left ease;
}
body .sb-annotation {
  background-color: #f05734;
}
body.dark .sb-annotation {
  background-color: yellow;
}
#editor {
  position: fixed;
  top: 39px;
  right: 0;
  bottom: 0;
  width: 80%;
  overflow-x: hidden;
}
#editor.collapsed {
  width: 60%;
}
#editor .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
#editor .ui-resizable-disabled .ui-resizable-handle,
#editor .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
#editor .ui-resizable-w {
  cursor: ew-resize;
  width: 10px;
  left: 0px;
  top: 0;
  height: 100%;
}
#editor .fn-panel {
  position: absolute;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  display: inline-block;
}
#editor.no-combiner {
  left: 0%;
}
#editor.dark {
  background-color: #282828;
}
#editor .CodeMirror {
  height: 100%;
  cursor: text;
  font-size: 1.2em;
  font-family: inherit;
}
#editor .CodeMirror .CodeMirror-placeholder {
  color: #999;
  background-image: url(../img/zettlr-official-logo.png);
}
#editor .CodeMirror-code {
  margin: 5em 0em;
}
#editor .CodeMirror-code .mute {
  opacity: 0.2;
}
#editor .CodeMirror-scroll {
  padding: 0em 5em;
  overflow-x: hidden !important;
}
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #5aaa50;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.quicklook {
  color: #646464;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  cursor: default;
  background-color: #dcdcdc;
}
.quicklook.minimize {
  height: 1.6em;
}
.quicklook .title {
  background-color: #282828;
  color: #f0f0f0;
  cursor: -webkit-grab;
  clear: both;
  height: 1.6em;
}
.quicklook .title h1 {
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
  padding: 0.2em;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
}
.quicklook .title .close {
  display: inline-block;
  cursor: pointer;
  float: right;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  margin: 0.1em;
  border-radius: 50px;
  padding: 0.1em;
}
.quicklook .title .close::before {
  font-family: 'WebHostingHub-Glyphs';
  font-weight: light;
  content: "\00d7";
  line-height: 0.8em;
  font-size: 0.8em;
  margin: 0.2em;
}
.quicklook .title .close:hover {
  color: #ffb0b0;
}
.quicklook .body .CodeMirror {
  cursor: text;
  font-size: 1em;
  font-family: inherit;
  padding: 0.3em;
  height: 100%;
}
.quicklook .body .CodeMirror-scroll .CodeMirror-sizer {
  margin-bottom: 1em;
}
.quicklook .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.quicklook .ui-resizable-disabled .ui-resizable-handle,
.quicklook .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.quicklook .ui-resizable-n {
  cursor: n-resize;
  height: 15px;
  width: 100%;
  top: -15px;
  left: 0;
}
.quicklook .ui-resizable-s {
  cursor: s-resize;
  height: 15px;
  width: 100%;
  bottom: -15px;
  left: 0;
}
.quicklook .ui-resizable-e {
  cursor: e-resize;
  width: 15px;
  right: -15px;
  top: 0;
  height: 100%;
}
.quicklook .ui-resizable-w {
  cursor: w-resize;
  width: 15px;
  left: -15px;
  top: 0;
  height: 100%;
}
.quicklook .ui-resizable-se {
  cursor: se-resize;
  width: 15px;
  height: 15px;
  right: -15px;
  bottom: -15px;
}
.quicklook .ui-resizable-sw {
  cursor: sw-resize;
  width: 15px;
  height: 15px;
  left: -15px;
  bottom: -15px;
}
.quicklook .ui-resizable-nw {
  cursor: nw-resize;
  width: 15px;
  height: 15px;
  left: -15px;
  top: -15px;
}
.quicklook .ui-resizable-ne {
  cursor: ne-resize;
  width: 15px;
  height: 15px;
  right: -15px;
  top: -15px;
}
#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 39px;
  background-image: linear-gradient(to bottom, white, #f0f0f0);
  color: #646464;
  border-bottom: 1px solid #c8c8c8;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: default;
}
#toolbar.mute {
  border-bottom: none;
  opacity: 0.5;
  background-image: linear-gradient(to bottom, #f0f0f0, white);
}
#toolbar .button {
  flex-grow: 0.1;
  display: inline-block;
  width: 38px;
  text-align: center;
  line-height: 38px;
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.72em;
  transition: 0.2s all ease;
}
#toolbar .button:first-child {
  margin-left: 10px;
}
#toolbar .button:last-child {
  margin-right: 10px;
}
#toolbar .button:hover {
  background-color: #f0f0f0;
  transition: 0.2s all ease;
}
#toolbar .button.dir-open::before {
  content: "\f73e";
}
#toolbar .button.directory-new::before {
  content: "\f0da";
}
#toolbar .button.file-new::before {
  content: "\f0c6";
}
#toolbar .button.stats::before {
  content: "\f6b8";
}
#toolbar .button.preferences::before {
  content: "\f00f";
}
#toolbar .button.recent-docs::before {
  content: "\f0c2";
}
#toolbar .button.file-save::before {
  content: "\f0c8";
}
#toolbar .button.file-delete::before {
  content: "\f0ce";
}
#toolbar .button.file-rename::before {
  content: "\f5d4";
}
#toolbar .button.formatting::before {
  content: "\00b6";
}
#toolbar .button.find::before {
  content: "\f0c5";
}
#toolbar .button.share::before {
  content: "\f16c";
}
#toolbar .button.show-toc::before {
  content: "\f68c";
}
#toolbar .button.toggle-attachments::before {
  content: "\f285";
}
#toolbar .button.insert-id::before {
  content: "ID";
}
#toolbar .button.pomodoro {
  padding: 2px;
  background-image: none;
  border: none;
}
#toolbar .button.pomodoro:hover {
  background-color: transparent;
}
#toolbar .button.pomodoro svg {
  transform: rotate(-90deg);
  display: inherit;
  margin: 0 auto;
}
#toolbar .button.pomodoro svg .pomodoro-meter,
#toolbar .button.pomodoro svg .pomodoro-value {
  fill: none;
}
#toolbar .button.pomodoro svg .pomodoro-meter {
  stroke: #c8c8c8;
}
#toolbar .button.pomodoro svg .pomodoro-value {
  stroke-linecap: square;
}
#toolbar .spacer {
  flex-grow: 5;
}
#toolbar .separator {
  flex-grow: 0.3;
  width: 1px;
  text-align: center;
}
#toolbar .separator:before {
  content: "|";
  display: inline;
  font-size: 1.2em;
}
#toolbar .file-info {
  flex-grow: 5;
  text-align: center;
  font-size: 0.72em;
  line-height: 39px;
  white-space: nowrap;
  overflow-x: hidden;
}
#toolbar .searchbar {
  flex-grow: 5;
}
#toolbar .searchbar input {
  color: inherit;
  height: 38px;
  background-color: transparent;
  width: 90%;
  margin: 5px;
  border: none;
  font-size: 0.72em;
  line-height: 38px;
  padding: 0.2em 1em;
  margin: 0.3em;
  outline: none;
  transition: 0.5s all ease;
}
#toolbar .searchbar input:focus {
  border-color: #c8dcf0;
  transition: 0.5s all ease;
  box-shadow: inset 0px 0px 15px 0px rgba(200, 220, 240, 0.95);
}
#toolbar .searchbar div.end-search {
  position: relative;
  right: 26px;
  width: 0px;
  height: 12px;
  display: inline-block;
  line-height: 11px;
  font-size: 80%;
  text-align: center;
}
#toolbar.dark {
  color: #dcdcdc;
  background-image: linear-gradient(to bottom, #464646, #282828);
  border-bottom-color: #505050;
}
#toolbar.dark .button {
  transition: 0.2s all ease;
}
#toolbar.dark .button:hover {
  background-color: #464646;
  transition: 0.2s all ease;
}
#toolbar.dark .button.pomodoro {
  background-image: none;
}
#toolbar.dark .button.pomodoro:hover {
  background-color: transparent;
}
#toolbar.dark .button.pomodoro .pomodoro-meter {
  stroke: #c8c8c8;
}
#toolbar.dark .searchbar input {
  color: inherit;
}
#toolbar.dark .searchbar input:focus {
  box-shadow: inset 0px 0px 15px 0px rgba(100, 120, 180, 0.95);
}
.notify {
  position: fixed;
  display: block;
  right: 10px;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  cursor: default;
}
.popup-arrow {
  width: 0;
  height: 0;
  position: fixed;
}
.popup-arrow.up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(255, 255, 255, 0.9);
}
.popup-arrow.down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.9);
}
.popup-arrow.left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(255, 255, 255, 0.9);
}
.popup-arrow.right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgba(255, 255, 255, 0.9);
}
.popup {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  color: #282828;
  border-radius: 4px;
  box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  max-width: 250px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup a.toc-link {
  color: #282828;
  transition: 0.4s all ease;
  text-decoration: none;
  display: block;
  line-height: 150%;
  padding: 4px;
  overflow-x: hidden;
  white-space: nowrap;
}
.popup a.toc-link:hover {
  background-color: #f0f0f0;
  transition: 0.4s all ease;
}
.popup p {
  margin: 10px;
  text-align: center;
}
.popup table {
  vertical-align: middle;
}
.popup table td {
  padding: 4px;
}
.popup button {
  border: none;
  font-size: 200%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #282828;
  padding: 10px;
  display: block;
  text-align: center;
}
.popup form input {
  background-color: transparent;
  color: inherit;
  padding: 5px;
  font-size: 200%;
  display: block;
  border: none;
  width: 100%;
  text-align: center;
}
.popup form input:focus {
  outline: 0;
}
.popup form input.small {
  font-size: 140%;
  text-align: left;
}
.popup form input[type="checkbox"] {
  display: inline-block;
  margin: 5px;
  width: auto;
}
.popup form label {
  display: inline-block;
  margin: 5px;
}
.popup .btn-share {
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 50px;
  text-align: center;
  transition: 0.2s all ease;
  cursor: default;
}
.popup .btn-share.htm {
  color: #4eaf57;
  /* W3C color code */
}
.popup .btn-share.htm:hover {
  background-color: #4eaf57;
  color: white;
}
.popup .btn-share.docx {
  color: #2d5897;
  /* MS Word color code */
}
.popup .btn-share.docx:hover {
  background-color: #2d5897;
  color: white;
}
.popup .btn-share.odt {
  color: #282828;
}
.popup .btn-share.odt:hover {
  background-color: white;
  color: black;
}
.popup .btn-share.pdf {
  color: #fd301a;
  /* Adobe reader PDF color code */
}
.popup .btn-share.pdf:hover {
  background-color: #fd301a;
  color: black;
}
.popup .formatting a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  color: inherit;
}
.popup .formatting a:hover {
  background-color: #c8c8c8;
}
.popup .formatting a#header-formatting {
  display: flex;
}
.popup .formatting a#header-formatting::before {
  padding: 10px 0px;
}
.popup .formatting a#header-formatting:hover {
  background-color: transparent;
}
.popup .formatting a span.markdownHeading1,
.popup .formatting a span.markdownHeading2,
.popup .formatting a span.markdownHeading3,
.popup .formatting a span.markdownHeading4,
.popup .formatting a span.markdownHeading5,
.popup .formatting a span.markdownHeading6 {
  display: inline-block;
  padding: 5px 0px;
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.popup .formatting a span.markdownHeading1.active,
.popup .formatting a span.markdownHeading2.active,
.popup .formatting a span.markdownHeading3.active,
.popup .formatting a span.markdownHeading4.active,
.popup .formatting a span.markdownHeading5.active,
.popup .formatting a span.markdownHeading6.active {
  color: #1cb27e;
}
.popup .formatting a::before {
  font-family: 'WebHostingHub-Glyphs';
  font-size: 0.72em;
  padding-right: 5px;
  width: 30px;
  display: inline-block;
}
.popup .formatting #header-formatting.markdownHeading1::before {
  content: "h1";
}
.popup .formatting #header-formatting.markdownHeading2::before {
  content: "h2";
}
.popup .formatting #header-formatting.markdownHeading3::before {
  content: "h3";
}
.popup .formatting #header-formatting.markdownHeading4::before {
  content: "h4";
}
.popup .formatting #header-formatting.markdownHeading5::before {
  content: "h5";
}
.popup .formatting #header-formatting.markdownHeading6::before {
  content: "h6";
}
.popup .formatting .markdownBlockquote::before {
  content: '\f328';
}
.popup .formatting .markdownLink::before {
  content: "\f022";
}
.popup .formatting .markdownImage::before {
  content: "\22b7";
}
.popup .formatting .markdownCode::before {
  content: "\f743";
}
.popup .formatting .markdownMakeOrderedList::before {
  content: "\f4c3";
}
.popup .formatting .markdownMakeUnorderedList::before {
  content: "\f4c2";
}
.popup .formatting .markdownDivider::before {
  content: "\f1cc";
}
.popup .formatting .insertFootnote::before {
  content: "\f1eb";
}
.popup .formatting .markdownBold {
  font-weight: bold;
}
.popup .formatting .markdownBold::before {
  content: "\f1f4";
}
.popup .formatting .markdownItalic {
  font-style: italic;
}
.popup .formatting .markdownItalic::before {
  content: "\f1f5";
}
.popup .formatting .removeFootnote::before {
  content: "\f1eb";
  text-decoration: line-through;
}
.popup .formatting hr {
  margin: 14px 20px;
  border: none;
  border-bottom: 1px solid #787878;
}
.popup .search input {
  font-size: 100%;
  text-align: left;
  display: inline;
  width: 60%;
  background-color: transparent;
  color: inherit;
  padding: 5px;
  border: none;
}
.popup .search input:focus {
  outline: 0;
}
.popup .search input:first-child {
  border-bottom: 1px solid #505050;
}
.popup .search button {
  width: auto;
  padding: 5px 2px;
  margin: 0px;
  border-radius: 2px;
  font-size: 0.9em;
  overflow: hidden;
  display: inline;
  background-color: #f0f0f0;
}
.popup .search button:hover {
  background-color: #787878;
}
.popup .search button#searchNext {
  width: 40%;
}
.popup .search button#replaceNext {
  width: 28%;
}
.popup .search button#replaceAll {
  width: 12%;
}
.popup .recent-docs a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.popup .recent-docs a:hover {
  background-color: #dcdcdc;
}
.popup .footnote-edit textarea {
  background-color: transparent;
  color: inherit;
  font-size: 1em;
  min-height: 150px;
  border: none;
  width: 250px;
}
.popup .footnote-edit textarea:focus {
  outline: 0;
}
.dark .popup {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.75);
  color: #dcdcdc;
}
.dark .popup button {
  background-color: rgba(0, 0, 0, 0.9);
  color: #dcdcdc;
}
.dark .popup .btn-share.odt {
  color: #dcdcdc;
}
.dark .popup a.toc-link {
  color: #dcdcdc;
}
.dark .popup a.toc-link:hover {
  background-color: rgba(51, 51, 51, 0.9);
}
.dark .popup .formatting a:hover {
  background-color: #787878;
}
.dark .popup .search button {
  background-color: rgba(0, 0, 0, 0.9);
}
.dark .popup .recent-docs a:hover {
  background-color: #787878;
}
.dark .popup-arrow.up {
  border-bottom-color: rgba(0, 0, 0, 0.9);
}
.dark .popup-arrow.down {
  border-top-color: rgba(0, 0, 0, 0.9);
}
.dark .popup-arrow.left {
  border-right-color: rgba(0, 0, 0, 0.9);
}
.dark .popup-arrow.right {
  border-left-color: rgba(0, 0, 0, 0.9);
}
#attachments {
  position: absolute;
  top: 39px;
  right: -20%;
  bottom: 0;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  overflow-x: hidden;
}
#attachments #open-dir-external {
  font-family: 'WebHostingHub-Glyphs';
  cursor: default;
  color: #c8c8c8;
}
#attachments #open-dir-external:hover {
  color: #464646;
}
#attachments h1 {
  padding: 10px;
  font-size: 1.2em;
}
#attachments p {
  padding: 10px;
}
#attachments a {
  display: block;
  margin: 10px;
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
}
#attachments a:hover {
  text-decoration: underline;
}
#attachments a::before {
  font-family: 'WebHostingHub-Glyphs';
  content: "\f285";
  margin-right: 5px;
  display: inline-block;
}
.dark #attachments {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
}
.dark #attachments #open-dir-external {
  color: #464646;
}
.dark #attachments #open-dir-external:hover {
  color: #c8c8c8;
}
