/**
 * BEGIN HEADER
 *
 * Contains:        Base Theme CSS
 * CVM-Role:        Theme
 * Maintainer:      Hendrik Erz
 * License:         GNU GPL v3
 *
 * Description:     This file contains all CSS directives to colour up the app.
 *                  No actual geometry is done here, only the colouring. It
 *                  includes both a light and a dark main less file, which then
 *                  subsequently include everything else.
 *
 * END HEADER
 */
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('../lato/Lato-HeavyItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
body {
  /**
 * MAIN CSS FOR LIGHT THEMING
 */
  /* LISTS */
  /* TYPOGRAPHY */
  font-family: 'Lato', 'Helvetica', 'Liberation Sans', Arial, sans-serif;
}
body .CodeMirror {
  font-size: 1.2em;
}
body .cm-fenced-code,
body .cm-formatting-code-block {
  font-family: monospace;
}
body .cm-fenced-code.cm-comment,
body .cm-formatting-code-block.cm-comment {
  font-style: italic;
}
body .cm-meta,
body .cm-def {
  font-weight: bold;
}
body .sb-annotation {
  background-color: #f05734;
}
body ::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
body ::-webkit-scrollbar-thumb {
  background-color: #1cb27e;
}
body ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #a9f1d8;
}
body #attachments {
  background-color: rgba(200, 220, 200, 0.8);
}
body #attachments a:hover {
  text-decoration: underline;
}
body .CodeMirror {
  background-color: #ffffff;
  color: #2e383c;
}
body .CodeMirror-selected {
  background-color: #c8f0aa !important;
}
body .CodeMirror-cursor {
  background: #1cb27e;
}
body .cm-comment,
body .cm-fenced-code {
  color: #787878;
}
body .cm-fenced-code.cm-comment {
  color: #c8c8c8;
}
body .cm-fenced-code.cm-attribute {
  color: #1d75b3;
}
body .cm-fenced-code.cm-string {
  color: #1cb27e;
}
body .cm-fenced-code.cm-string-2 {
  color: #c5af20;
}
body .cm-fenced-code.cm-variable {
  color: #464646;
}
body .cm-fenced-code.cm-variable-2 {
  color: #5aaa50;
}
body .cm-fenced-code.cm-keyword {
  color: #641e78;
}
body .cm-fenced-code.cm-property {
  color: #f05734;
}
body .cm-fenced-code.cm-type {
  color: #f05734;
}
body .cm-fenced-code.cm-atom {
  color: #1cb27e;
}
body .cm-fenced-code.cm-number {
  color: #1d75b3;
}
body .cm-tag {
  font-family: monospace;
  color: #f05734;
}
body .cm-attribute {
  font-family: monospace;
  color: #1d75b3;
}
body .cm-string {
  font-family: monospace;
  color: #1cb27e;
}
body .cm-bracket {
  font-family: monospace;
  color: #505050;
}
body .cm-formatting-header-1,
body .cm-formatting-header-2,
body .cm-formatting-header-3,
body .cm-formatting-header-4,
body .cm-formatting-header-5,
body .cm-formatting-header-6,
body .cm-url {
  color: #1cb27e;
}
body .size-header-1,
body .size-header-2,
body .size-header-3,
body .size-header-4,
body .size-header-5,
body .size-header-6 {
  font-weight: bold;
}
body .cm-formatting-list-ul,
body .cm-formatting-list-ol {
  color: #1cb27e;
}
body .cm-quote,
body .cm-link,
body .cm-strong,
body .cm-em {
  color: #1d75b3;
}
body .cm-spell-error {
  border-bottom: 2px dotted #f05734;
}
body .cm-zkn-tag,
body .cm-zkn-id,
body .cm-zkn-link {
  color: #1cb27e;
}
body .cma {
  color: #1d75b3;
  font-weight: inherit;
}
body .cm-formatting-escape {
  color: #787878;
}
body .cm-hr {
  color: #1cb27e;
  font-family: monospace;
  font-weight: bold;
}
body #directories {
  border-right: 1px solid #c8c8c8;
  color: #646464;
  font-size: 0.9em;
}
body #directories > ul:not(:first-child) {
  border-top: 1px solid #c8c8c8;
}
body #directories ul .selected {
  background-color: #1cb27e;
  color: white;
}
body #directories ul .selected:before {
  color: white;
}
body #directories ul li {
  line-height: 120%;
  border-radius: 8px;
}
body #directories ul li.root:before {
  color: #1d75b3;
}
body #directories ul li:hover {
  background-color: #dcdcdc;
}
body #directories ul li.highlight {
  box-shadow: 0px 0px 1px 2px #c8f0aa;
}
body #directories ul li.highlight:hover {
  background-color: inherit;
}
body #directories .file {
  line-height: 120%;
  border-radius: 8px;
}
body #directories .file.selected {
  background-color: #1cb27e;
  color: white;
}
body #directories .file:hover {
  background-color: #dcdcdc;
  color: inherit;
}
body #directories .virtual-directory {
  color: #d8abf1;
}
body #directories .project {
  color: #941010;
}
body #directories .emptyPaths {
  background-color: #f0f0f0;
  color: #646464;
}
body #preview {
  border-right: 1px solid #c8c8c8;
  background-color: inherit;
  font-size: 0.9em;
}
body #preview ul {
  background-color: inherit;
}
body #preview ul .selected {
  background-color: #c8f0aa;
}
body #preview ul li {
  border-bottom: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  background-color: inherit;
  /* Taglist stuff */
}
body #preview ul li.vd-file {
  background-color: #ecd7f8;
}
body #preview ul li.file:hover {
  background-color: #f0f0f0 !important;
}
body #preview ul li p.filename {
  background-image: linear-gradient(90deg, #282828 0%, #282828 90%, transparent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body #preview ul li .taglist:hover .tag {
  border: 2px solid white;
}
body #preview ul li.directory,
body #preview ul li.virtual-directory {
  background-color: #f0f0f0;
  color: #1cb27e;
}
body #preview ul li.directory span.sortTime,
body #preview ul li.virtual-directory span.sortTime,
body #preview ul li.directory span.sortName,
body #preview ul li.virtual-directory span.sortName {
  background-color: #f0f0f0;
}
body #preview ul li.directory span.sortTime:hover,
body #preview ul li.virtual-directory span.sortTime:hover,
body #preview ul li.directory span.sortName:hover,
body #preview ul li.virtual-directory span.sortName:hover {
  color: #505050;
}
body #preview ul li.virtual-directory {
  color: #641e78;
}
body .popup-arrow.up {
  border-bottom-color: rgba(255, 255, 255, 0.9);
}
body .popup-arrow.down {
  border-top-color: rgba(255, 255, 255, 0.9);
}
body .popup-arrow.left {
  border-right-color: rgba(255, 255, 255, 0.9);
}
body .popup-arrow.right {
  border-left-color: rgba(255, 255, 255, 0.9);
}
body .popup {
  background-color: rgba(255, 255, 255, 0.9);
  color: #282828;
  box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
body .popup a.toc-link {
  color: #282828;
  transition: 0.4s all ease;
  text-decoration: none;
  line-height: 150%;
}
body .popup a.toc-link:hover {
  background-color: #f0f0f0;
  transition: 0.4s all ease;
}
body .popup p {
  text-align: center;
}
body .popup button {
  border: none;
  font-size: 200%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #282828;
  text-align: center;
}
body .popup form input {
  background-color: transparent;
  color: inherit;
  font-size: 200%;
  border: none;
  text-align: center;
}
body .popup form input.small {
  font-size: 140%;
  text-align: left;
}
body .popup .formatting a {
  text-decoration: none;
  color: inherit;
}
body .popup .formatting a:hover {
  background-color: #c8c8c8;
}
body .popup .formatting a#header-formatting:hover {
  background-color: transparent;
}
body .popup .formatting a span.markdownHeading1,
body .popup .formatting a span.markdownHeading2,
body .popup .formatting a span.markdownHeading3,
body .popup .formatting a span.markdownHeading4,
body .popup .formatting a span.markdownHeading5,
body .popup .formatting a span.markdownHeading6 {
  text-align: center;
  font-weight: bold;
}
body .popup .formatting a span.markdownHeading1.active,
body .popup .formatting a span.markdownHeading2.active,
body .popup .formatting a span.markdownHeading3.active,
body .popup .formatting a span.markdownHeading4.active,
body .popup .formatting a span.markdownHeading5.active,
body .popup .formatting a span.markdownHeading6.active {
  color: #1cb27e;
}
body .popup .formatting hr {
  border-bottom: 1px solid #787878;
}
body .popup .search input {
  font-size: 100%;
  text-align: left;
  background-color: transparent;
  color: inherit;
}
body .popup .search input:first-child {
  border-bottom: 1px solid #505050;
}
body .popup .search button {
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #f0f0f0;
}
body .popup .search button:hover {
  background-color: #787878;
}
body .popup .recent-docs a {
  text-decoration: none;
  color: inherit;
}
body .popup .recent-docs a:hover {
  background-color: #dcdcdc;
}
body .popup .footnote-edit textarea {
  background-color: transparent;
  color: inherit;
  font-size: 1em;
}
body .quicklook {
  color: #646464;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  cursor: default;
  background-color: #dcdcdc;
}
body .quicklook .title {
  background-color: #282828;
  color: #f0f0f0;
}
body .quicklook .title h1 {
  font-size: 0.9em;
  text-align: center;
}
body .quicklook .title .close {
  text-align: center;
  border-radius: 50px;
}
body .quicklook .title .close:hover {
  color: #ffb0b0;
}
body .quicklook .body .CodeMirror {
  cursor: text;
  font-size: 1em;
  font-family: inherit;
}
body #toolbar {
  background-image: linear-gradient(to bottom, white, #f0f0f0);
  color: #646464;
  border-bottom: 1px solid #c8c8c8;
}
body #toolbar.mute {
  border-bottom: none;
  background-image: linear-gradient(to bottom, #f0f0f0, white);
}
body #toolbar .button {
  transition: 0.2s all ease;
}
body #toolbar .button:not(.pomodoro):hover {
  background-color: #f0f0f0;
  transition: 0.2s all ease;
}
body #toolbar .file-info {
  font-size: 0.72em;
}
body #toolbar .searchbar input {
  color: inherit;
  background-color: transparent;
  border: none;
  font-size: 0.72em;
  transition: 0.5s all ease;
}
body #toolbar .searchbar input:focus {
  border-color: #c8dcf0;
  transition: 0.5s all ease;
  box-shadow: inset 0px 0px 15px 0px rgba(200, 220, 240, 0.95);
}
body .modal {
  background-color: rgba(0, 0, 0, 0.5);
}
body .modal .dialog {
  background-color: white;
  border-radius: 4px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.45);
}
body .modal .dialog h1 {
  font-size: 1.5em;
}
body .modal .dialog h1 small {
  font-size: 75%;
  color: #787878;
}
body .modal .dialog hr {
  border-bottom: 1px solid #646464;
  width: 80%;
}
body .modal .dialog code {
  background-color: #f0f0f0;
  border-radius: 2px;
  font-weight: bold;
  padding: 2px 5px;
}
body .modal .dialog label {
  color: #646464;
}
body .modal .dialog input {
  line-height: 150%;
  font-size: inherit;
}
body .modal .dialog select {
  line-height: 200%;
  font-size: inherit;
}
body .modal .dialog textarea {
  border-radius: 4px;
}
body .modal .dialog button,
body .modal .dialog a.button {
  background-color: white;
  color: black;
  border: 1px solid #464646;
  transition: 0.2s background-color ease;
  text-decoration: none;
}
body .modal .dialog button:hover,
body .modal .dialog a.button:hover {
  background-color: #c8f0aa;
  transition: 0.2s background-color ease;
}
body .modal .dialog .changelog {
  border: 1px solid #646464;
  border-radius: 2px;
}
body .modal .dialog div.paper {
  position: relative;
}
body .modal .dialog div.paper.a4paper {
  border: 1px solid black;
}
body .modal .dialog div.paper .error {
  background-color: #ffb0b0;
  color: #941010;
  border: 1px solid #941010;
  border-radius: 5px;
}
body .modal .dialog .ui-tabs-nav {
  border-bottom: 1px solid black;
}
body .modal .dialog .ui-tabs-nav .ui-tabs-tab {
  line-height: 200%;
}
body .modal .dialog .ui-tabs-nav .ui-tabs-tab.ui-tabs-active {
  background-color: #1cb27e;
}
body .modal .dialog .ui-tabs-nav .ui-tabs-tab a {
  color: black;
  text-decoration: none;
  text-align: center;
}
body .modal .dialog .ui-tabs-nav .ui-tabs-tab:hover {
  background-color: #dcdcdc;
}
body #combiner #arrow-button {
  background-color: white;
  border-radius: 100%;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
body .notify {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
}
body .sk-circle .sk-child:before {
  background-color: #5aaa50;
}
body .dragger {
  font-size: 0.9em;
  border-radius: 5px;
  background-color: #dcdcdc;
  padding: 4px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}
body .taglist .tagspacer:only-child .tag {
  border: 2px solid white;
}
body.win32 {
  font-family: 'Segoe UI', 'Liberation Sans', Arial, sans-serif;
}
body.darwin,
body.linux {
  font-family: 'Lato', 'Helvetica', 'Liberation Sans', Arial, sans-serif;
}
body.dark {
  /**
 * MAIN CSS FOR DARK THEMING
 */
  background-color: #282828;
  /* LISTS */
  /* TYPOGRAPHY */
  /**
 * ATTACHMENTS
 */
}
body.dark .sb-annotation {
  background-color: yellow;
}
body.dark .dragger {
  color: white;
  background-color: #464646;
}
body.dark ::-webkit-scrollbar-track {
  background-color: #464646;
}
body.dark #directories {
  background-color: #464646;
  border-right-color: #646464;
  color: white;
}
body.dark #directories > ul:not(:first-child) {
  border-top-color: #646464;
}
body.dark #directories .collapse-indicator::before {
  color: #dcdcdc;
}
body.dark #directories ul li:hover {
  background-color: #505050;
}
body.dark #directories ul .selected {
  background-color: #35652f;
}
body.dark #directories .file:hover {
  background-color: #505050;
}
body.dark #directories .project {
  color: #ffb0b0;
}
body.dark #directories .emptyPaths {
  background-color: #505050;
  color: #dcdcdc;
}
body.dark #preview {
  background-color: #464646;
  border-right-color: #505050;
  color: white;
}
body.dark #preview ul .selected {
  background-color: #6478b4;
}
body.dark #preview ul li p.filename {
  background-image: linear-gradient(90deg, white 0%, white 90%, transparent 100%);
}
body.dark #preview ul li small {
  color: #dcdcdc;
}
body.dark #preview ul li.file:hover {
  background-color: #787878 !important;
}
body.dark #preview ul li.vd-file {
  background-color: #641e78;
}
body.dark #preview ul li.directory,
body.dark #preview ul li.virtual-directory {
  background-color: #282828;
  color: #787878;
}
body.dark #preview ul li.directory span.sortTime,
body.dark #preview ul li.virtual-directory span.sortTime,
body.dark #preview ul li.directory span.sortName,
body.dark #preview ul li.virtual-directory span.sortName {
  background-color: #282828;
}
body.dark #preview ul li.directory span.sortTime:hover,
body.dark #preview ul li.virtual-directory span.sortTime:hover,
body.dark #preview ul li.directory span.sortName:hover,
body.dark #preview ul li.virtual-directory span.sortName:hover {
  color: #c8c8c8;
  background-color: #282828;
}
body.dark #preview ul li.virtual-directory {
  color: #d8abf1;
}
body.dark #toolbar {
  color: #dcdcdc;
  background-image: linear-gradient(to bottom, #464646, #282828);
  border-bottom-color: #505050;
}
body.dark #toolbar .button {
  transition: 0.2s all ease;
}
body.dark #toolbar .button:hover {
  background-color: #464646;
  transition: 0.2s all ease;
}
body.dark #toolbar .searchbar input {
  color: inherit;
}
body.dark #toolbar .searchbar input:focus {
  box-shadow: inset 0px 0px 15px 0px rgba(100, 120, 180, 0.95);
}
body.dark #editor {
  background-color: #282828;
}
body.dark .CodeMirror {
  background-color: #282828;
  color: #c8c8c8;
}
body.dark .CodeMirror-selected {
  background-color: #285028 !important;
}
body.dark .CodeMirror-cursor {
  background: #1cb27e;
}
body.dark .CodeMirror-dialog {
  background-color: #6478b4;
}
body.dark .CodeMirror-dialog input {
  color: #c8dcf0;
}
body.dark .cm-comment,
body.dark .cm-fenced-code {
  color: #dcdcdc;
}
body.dark .cm-fenced-code.cm-comment {
  color: #787878;
}
body.dark .cm-fenced-code.cm-attribute {
  color: #86acd0;
}
body.dark .cm-fenced-code.cm-string {
  color: #1cb27e;
}
body.dark .cm-fenced-code.cm-string-2 {
  color: #c5af20;
}
body.dark .cm-fenced-code.cm-variable {
  color: #dcdcdc;
}
body.dark .cm-fenced-code.cm-variable-2 {
  color: #1d75b3;
}
body.dark .cm-fenced-code.cm-keyword {
  color: #d8abf1;
}
body.dark .cm-fenced-code.cm-property {
  color: #ff7c3b;
}
body.dark .cm-fenced-code.cm-atom {
  color: #5aaa50;
}
body.dark .cm-fenced-code.cm-number {
  color: #86acd0;
}
body.dark .cm-tag {
  color: #f05734;
}
body.dark .cm-attribute {
  color: #86acd0;
}
body.dark .cm-bracket {
  color: #dcdcdc;
}
body.dark .cm-string {
  color: #1cb27e;
}
body.dark .cm-formatting-header-1,
body.dark .cm-formatting-header-2,
body.dark .cm-formatting-header-3,
body.dark .cm-formatting-header-4,
body.dark .cm-formatting-header-5,
body.dark .cm-formatting-header-6,
body.dark .cm-url {
  color: #1cb27e;
}
body.dark .cm-formatting-list-ul,
body.dark .cm-formatting-list-ol {
  color: #1cb27e;
}
body.dark .cm-quote,
body.dark .cm-link,
body.dark .cm-strong,
body.dark .cm-em {
  color: #86acd0;
}
body.dark .cm-spell-error {
  border-bottom: 2px dotted #ffb0b0;
}
body.dark .cm-zkn-tag,
body.dark .cm-zkn-id,
body.dark .cm-zkn-link {
  color: #1cb27e;
}
body.dark .cma {
  color: #c8dcf0;
}
body.dark .cm-formatting-escape {
  color: #f0f0f0;
}
body.dark .popup {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.75);
  color: #dcdcdc;
}
body.dark .popup button {
  background-color: rgba(0, 0, 0, 0.9);
  color: #dcdcdc;
}
body.dark .popup .btn-share.odt,
body.dark .popup .btn-share.plain,
body.dark .popup .btn-share.tex {
  color: #dcdcdc;
}
body.dark .popup .btn-share.odt:hover,
body.dark .popup .btn-share.plain:hover,
body.dark .popup .btn-share.tex:hover {
  color: black;
}
body.dark .popup a.toc-link {
  color: #dcdcdc;
}
body.dark .popup a.toc-link:hover {
  background-color: rgba(51, 51, 51, 0.9);
}
body.dark .popup .formatting a:hover {
  background-color: #787878;
}
body.dark .popup .search button {
  background-color: rgba(0, 0, 0, 0.9);
}
body.dark .popup .recent-docs a:hover {
  background-color: #787878;
}
body.dark .popup-arrow.up {
  border-bottom-color: rgba(0, 0, 0, 0.9);
}
body.dark .popup-arrow.down {
  border-top-color: rgba(0, 0, 0, 0.9);
}
body.dark .popup-arrow.left {
  border-right-color: rgba(0, 0, 0, 0.9);
}
body.dark .popup-arrow.right {
  border-left-color: rgba(0, 0, 0, 0.9);
}
body.dark #attachments {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
}
body.dark #attachments #open-dir-external {
  color: #464646;
}
body.dark #attachments #open-dir-external:hover {
  color: #c8c8c8;
}
