.CodeMirror-fullscreen {
  position: fixed;
  top: 39px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 500;
}
@media (min-width: 1301px) {
  .CodeMirror-fullscreen .CodeMirror-scroll {
    padding: 0em 20em !important;
  }
}
@media (max-width: 1300px) {
  .CodeMirror-fullscreen .CodeMirror-scroll {
    padding: 0em 10em !important;
  }
}
@media (max-width: 1100px) {
  .CodeMirror-fullscreen .CodeMirror-scroll {
    padding: 0em 7.5em !important;
  }
}
@media (max-width: 1000px) {
  .CodeMirror-fullscreen .CodeMirror-scroll {
    padding: 0em 5em !important;
  }
}
@media (max-width: 800px) {
  .CodeMirror-fullscreen .CodeMirror-scroll {
    padding: 0em 2.5em !important;
  }
}
.CodeMirror-vscrollbar {
  cursor: default;
}
.CodeMirror {
  line-height: 1.4375;
  /* Make the formatting characters nearly invisible */
}
.CodeMirror pre {
  padding: 0;
}
.CodeMirror a.cma {
  cursor: pointer;
}
.CodeMirror a.cma:hover {
  text-decoration: underline;
}
.CodeMirror .search-result {
  background-color: yellow;
}
.CodeMirror .cm-table {
  font-family: monospace;
  font-weight: bold;
}
.CodeMirror .cm-header-1 {
  font-size: 2em;
}
.CodeMirror .cm-header-2 {
  font-size: 1.8em;
}
.CodeMirror .cm-header-3 {
  font-size: 1.5em;
}
.CodeMirror .cm-header-4 {
  font-size: 1.3em;
}
.CodeMirror .cm-header-5 {
  font-size: 1em;
}
.CodeMirror .cm-header-6 {
  font-size: 1em;
}
.CodeMirror .cm-comment {
  font-family: monospace;
  font-size: 120%;
}
.CodeMirror .CodeMirror-cursor {
  width: 2px;
  border: 0;
  z-index: 1;
}
.CodeMirror .cm-formatting-code,
.CodeMirror .cm-formatting-code-block,
.CodeMirror .cm-formatting-quote,
.CodeMirror .cm-formatting-strong,
.CodeMirror .cm-formatting-em {
  opacity: .3;
}
.CodeMirror .cm-formatting-list-ul,
.CodeMirror .cm-formatting-list-ol {
  font-family: monospace;
}
.CodeMirror .cm-url,
.CodeMirror .cm-link {
  text-decoration: none;
}
.CodeMirror .cm-url.shift,
.CodeMirror .cm-link.shift {
  cursor: pointer;
}
.CodeMirror .cm-zkn-tag {
  font-weight: bold;
}
.CodeMirror .cm-zkn-tag:hover,
.CodeMirror .cm-zkn-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.cm-s-zettlr {
  /* LISTS */
  /* TYPOGRAPHY */
}
.cm-s-zettlr.CodeMirror {
  background-color: #ffffff;
  color: #2e383c;
}
.cm-s-zettlr .CodeMirror-selected {
  background-color: #c8f0aa;
}
.cm-s-zettlr .CodeMirror-cursor {
  background: #1cb27e;
}
.cm-s-zettlr .cm-formatting-header-1,
.cm-s-zettlr .cm-formatting-header-2,
.cm-s-zettlr .cm-formatting-header-3,
.cm-s-zettlr .cm-formatting-header-4,
.cm-s-zettlr .cm-formatting-header-5,
.cm-s-zettlr .cm-formatting-header-6,
.cm-s-zettlr .cm-url {
  color: #1cb27e;
}
.cm-s-zettlr .cm-comment {
  color: #787878;
}
.cm-s-zettlr .cm-formatting-list-ul,
.cm-s-zettlr .cm-formatting-list-ol {
  color: #1cb27e;
}
.cm-s-zettlr .cm-quote,
.cm-s-zettlr .cm-link,
.cm-s-zettlr .cm-strong,
.cm-s-zettlr .cm-em {
  color: #1d75b3;
}
.cm-s-zettlr .cm-spell-error {
  border-bottom: 2px dotted #f05734;
}
.cm-s-zettlr .cm-zkn-tag,
.cm-s-zettlr .cm-zkn-id,
.cm-s-zettlr .cm-zkn-link {
  color: #1cb27e;
}
.cm-s-zettlr .cma {
  color: #1d75b3;
}
/* Zettlr dark theme for codemirror */
.cm-s-zettlr-dark {
  /* LISTS */
  /* TYPOGRAPHY */
}
.cm-s-zettlr-dark.CodeMirror {
  background-color: #282828;
  color: #c8c8c8;
}
.cm-s-zettlr-dark .CodeMirror-selected {
  background-color: #285028;
}
.cm-s-zettlr-dark .CodeMirror-cursor {
  background: #1cb27e;
}
.cm-s-zettlr-dark .CodeMirror-dialog {
  background-color: #6478b4;
}
.cm-s-zettlr-dark .CodeMirror-dialog input {
  color: #c8dcf0;
}
.cm-s-zettlr-dark .cm-formatting-header-1,
.cm-s-zettlr-dark .cm-formatting-header-2,
.cm-s-zettlr-dark .cm-formatting-header-3,
.cm-s-zettlr-dark .cm-formatting-header-4,
.cm-s-zettlr-dark .cm-formatting-header-5,
.cm-s-zettlr-dark .cm-formatting-header-6,
.cm-s-zettlr-dark .cm-url {
  color: #1cb27e;
}
.cm-s-zettlr-dark .cm-comment {
  color: #787878;
}
.cm-s-zettlr-dark .cm-formatting-list-ul,
.cm-s-zettlr-dark .cm-formatting-list-ol {
  color: #1cb27e;
}
.cm-s-zettlr-dark .cm-quote,
.cm-s-zettlr-dark .cm-link,
.cm-s-zettlr-dark .cm-strong,
.cm-s-zettlr-dark .cm-em {
  color: #86acd0;
}
.cm-s-zettlr-dark .cm-spell-error {
  border-bottom: 2px dotted #ffb0b0;
}
.cm-s-zettlr-dark .cm-zkn-tag,
.cm-s-zettlr-dark .cm-zkn-id,
.cm-s-zettlr-dark .cm-zkn-link {
  color: #1cb27e;
}
.cm-s-zettlr-dark .cma {
  color: #c8dcf0;
}
