// Modal styles
// These are loaded within the theme-main.less, because they won't change with
// theme changing
.modal {
    background-color:rgba(0,0,0,.5);

    .dialog {
        background-color:white;
        border-radius:@border-radius;
        box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.45);

        // General typography
        h1 {
            font-size: 1.5em;

            small {
                font-size:75%;
                color:@grey-3;
            }
        }

        hr {
            border-bottom:1px solid @grey-4;
            width: 80%;
        }

        code {
            background-color:@grey-0;
            border-radius:2px;
            font-weight: bold;
            padding: 2px 5px;
        }

        // Forms

        label { color:@grey-4; }

        input {
            line-height: 150%;
            font-size: inherit;
        }

        select {
            line-height: 200%;
            font-size: inherit;
        }

        textarea { border-radius: @border-radius; }

        button, a.button {
            background-color:white;
            color:black;
            border:1px solid @grey-6;
            transition:0.2s background-color ease;
            text-decoration:none;

            &:hover {
                background-color:@green-selection;
                transition:0.2s background-color ease;
            }
        }

        .changelog {
            border:1px solid @grey-4;
            border-radius:2px;
        }

        // Positioning of the paper margin text elements
        div.paper {
            position:relative;
            &.a4paper { border: 1px solid black; }

            .error {
                background-color:@bg-error;
                color: @fg-error;
                border:1px solid @fg-error;
                border-radius:5px;
            }
        }

        // Tabs styles
        .ui-tabs-nav {
            border-bottom:1px solid black;

            .ui-tabs-tab {
                line-height:200%;

                &.ui-tabs-active { background-color:@green-0; }

                a {
                    color:black;
                    text-decoration:none;
                    text-align:center;
                }

                &:hover { background-color:@grey-1; }
            }
        }

        // Dictionary list styles
        ul.dicts-list {
            margin:0px;
            border:1px solid @grey-2;
            padding:0;
            border-radius:5px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;

            li.dicts-list-item {
                padding:10px;
                font-weight: bold;
                margin:0;
                background-color: white;
                border-bottom:1px solid @grey-2;
                &:hover {
                    background-color:@grey-0;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        input.dicts-list-search {
            border:1px solid @grey-2;
            border-bottom:none;
            font-size: inherit;
            display:block;
            margin:0;
            padding:10px;
            border-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .selected-dict {
            color: white;
            cursor: pointer;
            background-color: @green-0;
            border-radius:5px;
            padding:5px 10px;
            margin:5px;
            border:1px solid @green-1;

            &:after {
                content: "\00d7"; // &times;
                font-size:150%;
                padding:0px 5px;
                color:@green-1;
                line-height: 50%;
                vertical-align: baseline;
            }

            &:hover {
                background-color:@green-1;
                border-color:@green-2;

                &:after {
                    color:@green-2;
                }
            }
        }

    } // END modal
}
