name: i18n

on:
  push:
    paths:
      - '.github/workflows/i18n.yaml'
  workflow_dispatch: {} # Enable manual triggers
  workflow_call: {} # Enable other workflows to call this one
  # schedule:
    # - cron: '17 2 * * 1' # Run every night at 02:17 (random minute to avoid high loads)

permissions:
  contents: write

env:
  NODE_VERSION: '20'

# Ensure only a single build workflow runs at any one time
concurrency:
  group: ${{ github.workflow }}

jobs:
  refresh:
    name: i18n
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          ref: develop
      - name: Setup NodeJS ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      # The scripts require some modules that we need to install.
      - name: Install dependencies
        run: yarn install --immutable
      # Gettext is not installed on Ubuntu by default, so we have to do it here
      - name: Install gettext
        run: |
          sudo apt-get update
          sudo apt-get install gettext
      - name: Configure git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      # Update translations
      - name: Update translations
        run: |
          ./scripts/i18n.sh
          git add -A
          git diff-index --quiet HEAD || git commit -m "chore(i18n): Update translations"
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: develop
